{% assign custom_rang_price = 'All Price, $10 - $50, $51 - $100, $101 - $250, $251 - $500, $500+' | split: ', ' %}
<ul
  class="custom-price-filter-ul facets-layout facets-layout-list facets-layout-list--text facets__list--vertical list-unstyled"
  role="list"
>
  {% for crange in custom_rang_price %}
    <li class="list-menu__item facets__item">
      <label for="Filter-price-{{ forloop.index }}" class="facets__label facet-checkbox">
        <input
          type="checkbox"
          name="filter.price"
          value="{% if forloop.last %}$501 - ${{ filter.range_max | money_without_currency }}{% else %}{{- crange | escape -}}{% endif %}"
          id="Filter-price-{{ forloop.index }}"
          data-price-range="{% if forloop.last %}$501 - ${{ filter.range_max | money_without_currency }}{% else %}{{- crange | escape -}}{% endif %}"
          {% if forloop.index == 1 %}
            data-remove-class="remove-price"
          {% endif %}
        >
        <svg width="16px" height="16px" viewBox="0 0 16 16">
          <rect width="16" height="16" fill="none" stroke="#ABB8C3"></rect>
        </svg>
        <div class="svg-wrapper">
          <!--
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="icon icon-checkmark" viewBox="0 0 12 9"><path stroke="white" stroke-width="2" fill="white" fill-rule="evenodd" d="M11.35.643a.5.5 0 0 1 .006.707l-6.77 6.886a.5.5 0 0 1-.719-.006L.638 4.845a.5.5 0 1 1 .724-.69l2.872 3.011 6.41-6.517a.5.5 0 0 1 .707-.006z" clip-rule="evenodd"/></svg>
          -->
          <svg
            class="icon icon-checkmark"
            width="12"
            height="10"
            viewBox="1 2 11 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M10 2L4.5 9L2 5.81818" stroke="white" stroke-width="2" stroke-linecap="square"
              stroke-linejoin="round"></path>
          </svg>
        </div>
        <span class="facet-checkbox__text" aria-hidden="true">
          <span class="facet-checkbox__text-label">{{ crange }}</span>
        </span>
        <span class="visually-hidden">{{ crange }} </span>
      </label>
    </li>
  {% endfor %}
</ul>
