<details
  id="Details-Custom-Category-{{ section.id }}"
  class="disclosure-has-popup facets__disclosure facets__disclosure-vertical js-filter"
  data-index="85"
  open
>
  <summary class="facets__summary caption-large focus-offset">
    <div>
      <span>Product Category</span>
      {{- 'icon-caret.svg' | inline_asset_content -}}
    </div>
  </summary>
  <div
    id="Facet-85-{{ section.id }}"
    class="facets__display-vertical"
  >
    <fieldset class="size-filter facets-wrap parent-wrap  facets-wrap-vertical">
      <legend class="visually-hidden">Product Category</legend>
      {% for link in linklists['main-menu'].links %}
        {% assign parent_link_title = link.title | handleize | downcase %}
        {% if parent_link_title == 'products' %}
          <ul
            class="  size-filter-ul facets-layout facets-layout-list facets-layout-list--text facets__list--vertical list-unstyled main-category-{{ parent_link_title }}"
            role="list"
          >
            {% if link.links.size > 0 %}
              {% for sublink in link.links %}
                <li class="list-menu__item facets__item parentCategorty parentCategorty-{{ sublink.title | handleize | escape }} ">
                  <label
                    for="Filter-filter-{{ sublink.title | handleize | escape }}"
                    class="facets__label facet-checkbox"
                  >
                    <input
                      type="checkbox"
                      name="custom_category"
                      value="{{ sublink.url }}"
                      id="Filter-filter-{{ sublink.title | handleize | escape }}"
                    >
                    <svg width="16px" height="16px" viewBox="0 0 16 16">
                      <rect width="16" height="16" fill="none" stroke="#ABB8C3"></rect>
                    </svg>
                    <div class="svg-wrapper">
                      <svg
                        class="icon icon-checkmark"
                        width="12"
                        height="10"
                        viewBox="1 2 11 8"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path d="M10 2L4.5 9L2 5.81818" stroke="white" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"></path>
                      </svg>
                    </div>
                    <span class="facet-checkbox__text" aria-hidden="true">
                      <span class="facet-checkbox__text-label">{{ sublink.title }}</span>
                    </span>
                    <span class="visually-hidden">{{ sublink.title }}</span>
                  </label>
                </li>
                {% if sublink.links.size > 0 %}
                  {% for subsublink in sublink.links %}
                    <li class="list-menu__item facets__item subCategoty" style="margin-left: 20px;">
                      <label
                        for="Filter-filter-{{ subsublink.title | handleize | escape }}"
                        class="facets__label facet-checkbox"
                      >
                        <input
                          type="checkbox"
                          name="custom_category"
                          value="{{ subsublink.url }}"
                          id="Filter-filter-{{ subsublink.title | handleize | escape }}"
                        >
                        <svg width="16px" height="16px" viewBox="0 0 16 16">
                          <rect width="16" height="16" fill="none" stroke="#ABB8C3"></rect>
                        </svg>
                        <div class="svg-wrapper">
                          <svg
                            class="icon icon-checkmark"
                            width="12"
                            height="10"
                            viewBox="1 2 11 8"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path d="M10 2L4.5 9L2 5.81818" stroke="white" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"></path>
                          </svg>
                        </div>
                        <span class="facet-checkbox__text" aria-hidden="true">
                          <span class="facet-checkbox__text-label">{{ subsublink.title }}</span>
                        </span>
                        <span class="visually-hidden">{{ subsublink.title }}</span>
                      </label>
                    </li>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            {% endif %}
          </ul>
        {% endif %}
      {% endfor %}
    </fieldset>
  </div>
</details>
