<!-- section 1 -->
<div class="row section-1">
  <div class="col-lg-6 d-flex align-items-start flex-column justify-content-center">
    <h2 class="sh-48 mb-40">{{ block.settings.heading }}</h2>
    {{ block.settings.description }}
  </div>
  <div class="col-lg-6 text-center">
    <img
      class="img-fluid"
      src="{{ block.settings.image | img_url : '710x' }}"
      loading="lazy"
      width="{{ block.settings.image.width }}"
      height="{{ block.settings.image.height }}"
      alt="{{ block.settings.image.alt }}"
    >
  </div>
</div>

<!-- Section 2 -->
<div class="row mt-80 mb-80">
  <h3 class="mb-4">Types</h3>
  <div class="col-lg-3">
    <img
      class="img-fluid mb-3"
      src="{{ block.settings.image1 | img_url : '40x' }}"
      loading="lazy"
      width="{{ block.settings.image1.width }}"
      height="{{ block.settings.image1.height }}"
      alt="{{ block.settings.image1.alt }}"
    >
    <h4>{{ block.settings.heading1 }}</h4>
    {{ block.settings.description1 }}
  </div>
  <div class="col-lg-3">
    <img
      class="img-fluid mb-3"
      src="{{ block.settings.image2 | img_url : '40x' }}"
      loading="lazy"
      width="{{ block.settings.image2.width }}"
      height="{{ block.settings.image2.height }}"
      alt="{{ block.settings.image2.alt }}"
    >
    <h4>{{ block.settings.heading2 }}</h4>
    {{ block.settings.description2 }}
  </div>
  <div class="col-lg-3">
    <img
      class="img-fluid mb-3"
      src="{{ block.settings.image3 | img_url : '40x' }}"
      loading="lazy"
      width="{{ block.settings.image3.width }}"
      height="{{ block.settings.image3.height }}"
      alt="{{ block.settings.image3.alt }}"
    >
    <h4>{{ block.settings.heading3 }}</h4>
    {{ block.settings.description3 }}
  </div>
  <div class="col-lg-3">
    <img
      class="img-fluid mb-3"
      src="{{ block.settings.image4 | img_url : '40x' }}"
      loading="lazy"
      width="{{ block.settings.image4.width }}"
      height="{{ block.settings.image4.height }}"
      alt="{{ block.settings.image4.alt }}"
    >
    <h4>{{ block.settings.heading4 }}</h4>
    {{ block.settings.description4 }}
  </div>
</div>

<div class="bb"></div>
<!-- Sectiopn 3 -->
<div class="row mt-80 mb-80">
  <h3 class="mb-4">Protective Class</h3>
  <div class="col-md-4">
    <img
      class="img-fluid mb-3"
      src="{{ block.settings.image5 | img_url : '40x' }}"
      loading="lazy"
      width="{{ block.settings.image5.width }}"
      height="{{ block.settings.image5.height }}"
      alt="{{ block.settings.image5.alt }}"
    >
    <h4>{{ block.settings.heading5 }}</h4>
    {{ block.settings.description5 }}
  </div>
  <div class="col-md-4">
    <img
      class="img-fluid mb-3"
      src="{{ block.settings.image6 | img_url : '40x' }}"
      loading="lazy"
      width="{{ block.settings.image6.width }}"
      height="{{ block.settings.image6.height }}"
      alt="{{ block.settings.image6.alt }}"
    >
    <h4>{{ block.settings.heading6 }}</h4>
    {{ block.settings.description6 }}
  </div>
  <div class="col-md-4">
    <img
      class="img-fluid mb-3"
      src="{{ block.settings.image7 | img_url : '40x' }}"
      loading="lazy"
      width="{{ block.settings.image7.width }}"
      height="{{ block.settings.image7.height }}"
      alt="{{ block.settings.image7.alt }}"
    >
    <h4>{{ block.settings.heading7 }}</h4>
    {{ block.settings.description7 }}
  </div>
</div>
