{% comment %}
  Renders a tabs

  Accepts:
  - categories: {array} Product Liquid object


  Usage:
  {% render 'featured-categories-tab', categories: categories %}
{% endcomment %}

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="featuredCategoryTabs" role="tablist">
  {% for category in categories %}
    <li class="nav-item" role="presentation">
      <a
        class="nav-link {% if forloop.index == 1 %} active {% endif %}"
        id="{{- category -}}-tab"
        data-bs-toggle="tab"
        href="#{{- category -}}"
        role="tab"
        aria-controls="{{- category -}}"
        aria-selected="true"
      >
        {% comment %}
          <img
            src="{{ 'parent-category-icon.png' | asset_url }}"
            width="41"
            height="40"
            alt="{{- category -}}-logo"
            loading="lazy"
            class="img-fluid me-4"
          >
        {% endcomment %}
        {{- category | replace: '-', ' ' | upcase -}}
      </a>
    </li>
  {% endfor %}
</ul>
