{% comment %}
  Renders a tabs

  Accepts:
  - categories: {array} Product Liquid object
  - section: object main section


  Usage:
  {% render 'featured-categories-tab-content', categories: categories, section: section %}
{% endcomment %}

<!-- Tab content -->
<div class="tab-content" id="featuredCategoryTabsContent">
  {% for category in categories %}
    <div
      class="tab-pane fade {% if forloop.index == 1 %} show active {% endif %}"
      id="{{- category -}}"
      role="tabpanel"
      aria-labelledby="{{- category -}}-tab"
    >
      {% if section.settings.show_description == true %}
        <div class="row">
          <div class="col-md-12 mb-5 desc ">
            {{- section.settings.description -}}
          </div>
        </div>
      {% endif %}

      {% if section.settings.heading != blank %}
        <div class="row">
          <div class="col-md-12 mb-5">
            <h2 class="sh-48">{{ section.settings.heading }}</h2>
          </div>
        </div>
      {% endif %}
      <div class="slider">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              {% if block.settings.parent_category == category %}
                {% assign mycategory_url = block.settings.collection_id.url %}
                {% if block.settings.show_type == 'yes' %}
                  {% assign category_product_type = block.settings.type_filter | replace: ' ', '+' %}
                  {% assign mycategory_url = block.settings.collection_id.url
                    | append: '?filter.p.product_type='
                    | append: category_product_type
                  %}
                {% endif %}

                <div
                  class="imghvr-push-up category-item swiper-slide d-flex align-items-start flex-column gap-3 mb-3 mb-sm-5"
                  onclick="location.href = '{{ mycategory_url }}';"
                >
                {% if block.settings.show_product_type_image == blank %}
                  {% assign coll_image = block.settings.collection_id.image.src %}
                {% else %}
                  {% assign coll_image = block.settings.show_product_type_image %}
                {% endif %}
                
                 {% if block.settings.show_product_type_image_hover == blank %}
                  {% assign coll_image_second = block.settings.collection_id.metafields.custom.second_image.value %}
                {% else %}
                  {% assign coll_image_second = block.settings.show_product_type_image_hover %}
                {% endif %}

                
                    <figure class="imghvr-push-up">
                      <img
                        src="{{ coll_image | img_url: '464x' }}"
                        width="464"
                        height="720"
                        alt="collection-1"
                        class="img-fluid"
                        loading="lazy"
                      >
                        
                      <figcaption>
                        <img
                          src="{{ coll_image_second | img_url: '464x' }}"
                          width="464"
                          height="720"
                          alt="collection-1-pushup"
                          class="img-fluid"
                          loading="lazy"
                        >
                      </figcaption>
                    </figure>
                 
                  <h3 class="sh-32">
                    {{ block.settings.collection_id.title }}
                    {% render 'arrow-icon' %}
                  </h3>
                  <p class="sp-16">
                    {% if block.settings.custom_description == blank  %}
                    {{ block.settings.collection_id.metafields.custom.short_description }}
                    {% else %}
                       {{ block.settings.custom_description }}
                    {% endif %}
                  </p>
                  {% if section.settings.show_buttons == true and section.settings.button_label != blank %}
                    <a
                      class="s-btn"
                      href="{{ mycategory_url }}"
                      title="{{ section.settings.button_label }}"
                    >
                      <span>{{- section.settings.button_label -}}</span>
                    </a>
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <!-- pagination -->
          {% comment %} <div class="swiper-pagination"></div> {% endcomment %}

          <!-- scrollbar -->
          <div class="swiper-scrollbar"></div>

          <!-- buttons -->
          <!--
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          -->
        </div>
      </div>
    </div>
  {% endfor %}
</div>
