<!-- section 1 -->
<div class="row section-1">
  <div class="col-lg-6 d-flex align-items-start flex-column justify-content-center">
    <h2 class="sh-48 mb-40">{{ block.settings.heading }}</h2>
    {{ block.settings.description }}
  </div>
  <div class="col-lg-6 text-center">
    <img
      class="img-fluid"
      src="{{ block.settings.image | img_url : '710x' }}"
      loading="lazy"
      width="{{ block.settings.image.width }}"
      height="{{ block.settings.image.height }}"
      alt="{{ block.settings.image.alt }}"
    >
  </div>
</div>

<div class="row bb section-1">
  <div class="col-lg-6 text-center">
    <img
      class="img-fluid"
      src="{{ block.settings.image1 | img_url : '710x' }}"
      loading="lazy"
      width="{{ block.settings.image1.width }}"
      height="{{ block.settings.image1.height }}"
      alt="{{ block.settings.image1.alt }}"
    >
  </div>
  <div class="col-lg-6 section-1 text-center">
    <img
      class="img-fluid"
      src="{{ block.settings.image2 | img_url : '710x' }}"
      loading="lazy"
      width="{{ block.settings.image2.width }}"
      height="{{ block.settings.image2.height }}"
      alt="{{ block.settings.image2.alt }}"
    >
  </div>
</div>

<!-- Section 2 -->
<div class="row mt-80 section-2-1">
  <div class="col-lg-4 d-flex align-items-center flex-column justify-content-center">
    <img
      class="img-fluid"
      src="{{ block.settings.image3 | img_url : '344x' }}"
      loading="lazy"
      width="{{ block.settings.image3.width }}"
      height="{{ block.settings.image3.height }}"
      alt="{{ block.settings.image3.alt }}"
    >
  </div>
  <div class="col-lg-8">
    <h2 class="sh-48 mb-40 ">{{ block.settings.heading1 }}</h2>
    {{ block.settings.description1 }}
  </div>
</div>

<div class="row bb mt-2 mt-sm-5 section-2">
  <div class="col-md-12 text-center">
    <img
      class="img-fluid"
      src="{{ block.settings.image4 | img_url : '1440x' }}"
      loading="lazy"
      width="{{ block.settings.image4.width }}"
      height="{{ block.settings.image4.height }}"
      alt="{{ block.settings.image4.alt }}"
    >
  </div>
</div>

<!-- Section 3 -->
<div class="row mt-80 section-3">
  <div class="col-lg-6">
    <h2 class="sh-48 mb-40">{{ block.settings.heading2 }}</h2>
    {{ block.settings.description2 }}
  </div>
  <div class="col-lg-6">
    <img
      class="img-fluid"
      src="{{ block.settings.image5 | img_url : '710x' }}"
      loading="lazy"
      width="{{ block.settings.image5.width }}"
      height="{{ block.settings.image5.height }}"
      alt="{{ block.settings.image5.alt }}"
    >
  </div>
</div>

<div class="row mt-80 section-3-1">
  <div class="col-md-6">
    <img
      class="img-fluid"
      src="{{ block.settings.image6 | img_url : '710x' }}"
      loading="lazy"
      width="{{ block.settings.image6.width }}"
      height="{{ block.settings.image6.height }}"
      alt="{{ block.settings.image6.alt }}"
    >
  </div>
  <div class="col-md-6 d-flex align-items-start flex-column justify-content-center">
    {{ block.settings.description3 }}
  </div>
</div>

<div class="row mt-80 mb-80 section-3-2">
  <div class="col-md-6">
    <img
      class="img-fluid mb-2"
      src="{{ block.settings.image7 | img_url : '200x' }}"
      loading="lazy"
      width="{{ block.settings.image7.width }}"
      height="{{ block.settings.image7.height }}"
      alt="{{ block.settings.image7.alt }}"
    >
    {{ block.settings.description4 }}
  </div>
  <div class="col-md-6">
    <img
      class="img-fluid mb-2"
      src="{{ block.settings.image8 | img_url : '338x' }}"
      loading="lazy"
      width="{{ block.settings.image8.width }}"
      height="{{ block.settings.image8.height }}"
      alt="{{ block.settings.image8.alt }}"
    >
    {{ block.settings.description5 }}
  </div>
</div>
<div class="bb"></div>

<!-- Section 4 -->
<div class="row mt-80 mb-80 section-4">
  <div class="col-lg-7">
    <h2 class="sh-48 mb-40">{{ block.settings.heading }}</h2>
    {{ block.settings.description6 }}
  </div>
  <div class="col-lg-5 text-center">
    <img
      class="img-fluid mb-2"
      src="{{ block.settings.image9 | img_url : '488x' }}"
      loading="lazy"
      width="{{ block.settings.image9.width }}"
      height="{{ block.settings.image9.height }}"
      alt="{{ block.settings.image9.alt }}"
    >
  </div>
</div>

<div class="row mt-80 mb-80 section-4-1">
  <div class="col-md-12">
    {{ block.settings.description7 }}
  </div>
</div>

{% style %}
   #hand-protection .section-4-1 ul li:first-child::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-image: url("{{ 'list-1.png' | asset_img_url : 'original' }}");
    background-repeat: none;
  }

  #hand-protection .section-4-1 ul li:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-image: url("{{ 'list-2.png' | asset_img_url : 'original' }}");
    background-repeat: none;
  }

  #hand-protection .section-4-1 ul li:nth-child(3)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-image: url("{{ 'list-3.png' | asset_img_url : 'original' }}");
    background-repeat: none;
  }
{% endstyle %}
