<!-- section 1 -->
<div class="row section-1">
  <div class="col-lg-6 d-flex align-items-start flex-column justify-content-center">
    <h2 class="sh-48 mb-40">{{ block.settings.heading }}</h2>
    {{ block.settings.description }}
  </div>
  <div class="col-lg-6 text-center">
    <img
      class="img-fluid"
      src="{{ block.settings.image | img_url : '710x' }}"
      loading="lazy"
      width="{{ block.settings.image.width }}"
      height="{{ block.settings.image.height }}"
      alt="{{ block.settings.image.alt }}"
    >
  </div>
</div>

<!-- section 2 -->
<div class="row section-2 mt-80">
  <div class="col-lg-6 d-flex align-items-start flex-column justify-content-center">
    {{ block.settings.description1 }}
  </div>
  <div class="col-lg-6 text-center">
    <img
      class="img-fluid"
      src="{{ block.settings.image1 | img_url : '710x' }}"
      loading="lazy"
      width="{{ block.settings.image1.width }}"
      height="{{ block.settings.image1.height }}"
      alt="{{ block.settings.image1.alt }}"
    >
  </div>
</div>

<!-- section 3 -->
<div class="row section-3 mt-80 mb-80">
  <div class="col-lg-6 text-center">
    <img
      class="img-fluid"
      src="{{ block.settings.image2 | img_url : '710x' }}"
      loading="lazy"
      width="{{ block.settings.image2.width }}"
      height="{{ block.settings.image2.height }}"
      alt="{{ block.settings.image2.alt }}"
    >
  </div>
  <div class="col-lg-6 d-flex align-items-start flex-column justify-content-center">
    {{ block.settings.description2 }}
  </div>
</div>
