{{ 'page-faqs.css' | asset_url | stylesheet_tag }}

{% style %}
    .product__info-container .product-features li {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: var(--font-secondary-color);
      padding-bottom: 15px;
    }

    .product__info-container .download-resources li {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding: 16px 0px;
      gap: 15px;
      border-bottom: 0.5px dashed #ABB8C3;
  }
{% endstyle %}
<div class="row page-faqs ">
  <div class="col-md-12" itemscope="" itemtype="https://schema.org/FAQPage">
    <!-- Features -->
    {% if product.metafields.custom.product_details_features %}
      <div class="faq-item active" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="faq-question" itemprop="name">
          <div>Features</div>
          <!-- Plus -->
          <svg
            class="plus"
            width="29"
            height="28"
            viewBox="0 0 29 28"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <line x1="14.5" y1="8.74226e-08" x2="14.5" y2="28" stroke="#222222" stroke-width="4"/>
            <line x1="28.5" y1="14" x2="0.5" y2="14" stroke="#222222" stroke-width="4"/>
          </svg>

          <!-- Minus -->
          <svg
            class="minus"
            width="29"
            height="4"
            viewBox="0 0 29 4"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <line x1="28.5" y1="2" x2="0.5" y2="2" stroke="black" stroke-width="4"/>
            <line x1="28.5" y1="2" x2="0.5" y2="2" stroke="#222222" stroke-width="4"/>
          </svg>
        </div>

        <div class="faq-answer" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" style="display: block;">
          <!-- product Features List -->
          <div class="meta-fields-details">
            <div class="product-features">
              <ul class="list-unstyled two-column-list">
                {% for feature in product.metafields.custom.product_details_features.value %}
                  <li class="d-flex align-items-center flex-wrap gap-2">
                    <img
                      src="{{ 'feature-icon.png' | asset_img_url : 'master' }}"
                      alt="feature Icon"
                      width="16"
                      height="16"
                      loading="lazy"
                      class="img-fluid "
                    >
                    <span>{{ feature }}</span>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    {% if product.metafields.custom.product_details_specifications_name %}
      <div class="faq-item" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="faq-question" itemprop="name">
          <div>Specifications</div>
          <!-- Plus -->
          <svg
            class="plus"
            width="29"
            height="28"
            viewBox="0 0 29 28"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <line x1="14.5" y1="8.74226e-08" x2="14.5" y2="28" stroke="#222222" stroke-width="4"/>
            <line x1="28.5" y1="14" x2="0.5" y2="14" stroke="#222222" stroke-width="4"/>
          </svg>

          <!-- Minus -->
          <svg
            class="minus"
            width="29"
            height="4"
            viewBox="0 0 29 4"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <line x1="28.5" y1="2" x2="0.5" y2="2" stroke="black" stroke-width="4"/>
            <line x1="28.5" y1="2" x2="0.5" y2="2" stroke="#222222" stroke-width="4"/>
          </svg>
        </div>

        <div class="faq-answer" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <!-- product Features List -->
          <div class="meta-fields-details">
            <div class="product-features">
              <ul class="list-unstyled two-column-list">
                {% assign specification_values = product.metafields.custom.product_details_specification_values.value %}
                {% for specification in product.metafields.custom.product_details_specifications_name.value %}
                  <li class="d-flex align-items-center flex-wrap gap-2">
                    <img
                      src="{{ 'feature-icon.png' | asset_img_url : 'master' }}"
                      alt="feature Icon"
                      width="16"
                      height="16"
                      loading="lazy"
                      class="img-fluid "
                    >
                    <span
                      ><strong>{{ specification }}</strong>: {{ specification_values[forloop.index0] -}}
                    </span>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <!-- Documentations -->
    {% if product.metafields.custom.product_details_download_title %}
      <div class="faq-item" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="faq-question " itemprop="name">
          <div>Documentations</div>
          <!-- Plus -->
          <svg
            class="plus"
            width="29"
            height="28"
            viewBox="0 0 29 28"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <line x1="14.5" y1="8.74226e-08" x2="14.5" y2="28" stroke="#222222" stroke-width="4"/>
            <line x1="28.5" y1="14" x2="0.5" y2="14" stroke="#222222" stroke-width="4"/>
          </svg>

          <!-- Minus -->
          <svg
            class="minus"
            width="29"
            height="4"
            viewBox="0 0 29 4"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <line x1="28.5" y1="2" x2="0.5" y2="2" stroke="black" stroke-width="4"/>
            <line x1="28.5" y1="2" x2="0.5" y2="2" stroke="#222222" stroke-width="4"/>
          </svg>
        </div>

        <div class="faq-answer" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <!-- product Features List -->
          <div class="meta-fields-details">
            <div class="download-resources">
              <ul class="list-unstyled two-column-list">
                {% assign document_links = product.metafields.custom.product_details_download_file_link.value %}
                {% for document in product.metafields.custom.product_details_download_title.value %}
                  <li>
                    <span
                
                      ><a
                        class="sp-16"
                        style="font-weight: 600;"
                        href="{% if document_links[forloop.index0] != blank %}{{ document_links[forloop.index0] }}{% else %}#{% endif %}"
                        target="_blank"
                      >
                        {{- document -}}
                      </a></span
                    >
                    <span
                      ><a href="{% if document_links[forloop.index0] != blank %}{{ document_links[forloop.index0] }}{% else %}#{% endif %}"  target="_blank">
                        <img
                          src="{{  'PDF.png' | asset_img_url : 'master' }}"
                          width="40"
                          height="40"
                          alt="pdf icon download"
                          class="img-fluid"
                          loading="lazy"
                        > </a
                    ></span>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <!-- About the Product -->
    {% if product.metafields.custom.product_details_title and product.metafields.custom.product_detail_description %}
      <div class="faq-item" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="faq-question " itemprop="name">
          <div>About the Product</div>
          <!-- Plus -->
          <svg
            class="plus"
            width="29"
            height="28"
            viewBox="0 0 29 28"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <line x1="14.5" y1="8.74226e-08" x2="14.5" y2="28" stroke="#222222" stroke-width="4"/>
            <line x1="28.5" y1="14" x2="0.5" y2="14" stroke="#222222" stroke-width="4"/>
          </svg>

          <!-- Minus -->
          <svg
            class="minus"
            width="29"
            height="4"
            viewBox="0 0 29 4"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <line x1="28.5" y1="2" x2="0.5" y2="2" stroke="black" stroke-width="4"/>
            <line x1="28.5" y1="2" x2="0.5" y2="2" stroke="#222222" stroke-width="4"/>
          </svg>
        </div>

        <div class="faq-answer" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <!-- product Features List -->
          {% if product.metafields.custom.product_details_title
            and product.metafields.custom.product_detail_description
          %}
            <div class="meta-fields-details">
              <div class="section-product-details-title-description text-start ">
                <h2 class="sh-22 mb-4 ">{{ product.metafields.custom.product_details_title }}</h2>
                <p class="sp-16">{{ product.metafields.custom.product_detail_description }}</p>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}

    <!-- About Some Feature detail the Product -->
    {% if product.metafields.custom.product_details_sub_title %}
      <div class="faq-item" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
        <div class="faq-question " itemprop="name">
          <div>{{ product.metafields.custom.product_details_sub_title }}</div>
          <!-- Plus -->
          <svg
            class="plus"
            width="29"
            height="28"
            viewBox="0 0 29 28"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <line x1="14.5" y1="8.74226e-08" x2="14.5" y2="28" stroke="#222222" stroke-width="4"/>
            <line x1="28.5" y1="14" x2="0.5" y2="14" stroke="#222222" stroke-width="4"/>
          </svg>

          <!-- Minus -->
          <svg
            class="minus"
            width="29"
            height="4"
            viewBox="0 0 29 4"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <line x1="28.5" y1="2" x2="0.5" y2="2" stroke="black" stroke-width="4"/>
            <line x1="28.5" y1="2" x2="0.5" y2="2" stroke="#222222" stroke-width="4"/>
          </svg>
        </div>

        <div class="faq-answer" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <!-- product Features List -->
          {% if product.metafields.custom.product_details_sub_title %}
            <div class="meta-fields-details">
              <div class="section-product-details-title-description text-start ">
                {{ product.metafields.custom.product_details_sub_details | metafield_tag }}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
</div>
