<div class="gloves-inner d-flex flex-column gap-3">
  <img
    class="img-fluid"
    src="{{ block.settings.image | img_url : '708x' }}"
    loading="lazy"
    width="{{ block.settings.image.width }}"
    height="{{ block.settings.image.height }}"
    alt="{{ block.settings.image.alt }}"
  >
  <h3 class="sp-32">{{ block.settings.heading }}</h3>
  {{ block.settings.description }}
</div>
