<div class="col-lg-6 text-center mb-5 mb-md-0">
  <img
    class="img-fluid"
    src="{{ block.settings.image | img_url : '710x' }}"
    loading="lazy"
    width="{{ block.settings.image.width }}"
    height="{{ block.settings.image.height }}"
    alt="{{ block.settings.image.alt }}"
  >
</div>
<div class="col-lg-6 d-flex justify-content-center flex-column">
  <h3 class="sh-48">{{ block.settings.heading }}</h3>
  {{ block.settings.description }}
</div>
