{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.
  - picker_type: {String} type of picker to dispay


  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block
    picker_type: picker_type
  %}
{% endcomment %}
{%- liquid
  assign product_form_id = 'product-form-' | append: section.id
-%}

{%- for value in option.values -%}
  {%- liquid
    assign swatch_focal_point = null
    if value.swatch.image
      assign image_url = value.swatch.image | image_url: width: 50
      assign swatch_value = 'url(' | append: image_url | append: ')'
      assign swatch_focal_point = value.swatch.image.presentation.focal_point
    elsif value.swatch.color
      assign swatch_value = 'rgb(' | append: value.swatch.color.rgb | append: ')'
    else
      assign swatch_value = null
    endif
    assign variant_exists = false
    assign variant_available = false
    
    for variant in product.variants
      assign matched = true
      if option.position == 1
        if variant.option2 != product.selected_or_first_available_variant.option2 and product.options.size >= 2
          assign matched = false
        endif
        if variant.option3 != product.selected_or_first_available_variant.option3 and product.options.size >= 3
          assign matched = false
        endif
        if variant.option1 != value
          assign matched = false
        endif
      elsif option.position == 2
        if variant.option1 != product.selected_or_first_available_variant.option1
          assign matched = false
        endif
        if variant.option3 != product.selected_or_first_available_variant.option3 and product.options.size >= 3
          assign matched = false
        endif
        if variant.option2 != value
          assign matched = false
        endif
      elsif option.position == 3
        if variant.option1 != product.selected_or_first_available_variant.option1
          assign matched = false
        endif
        if variant.option2 != product.selected_or_first_available_variant.option2
          assign matched = false
        endif
        if variant.option3 != value
          assign matched = false
        endif
      endif

      if matched
        assign variant_exists = true
        if variant.available
          assign variant_available = true
        endif
        break
      endif
    endfor

    # option_disabled = true only if combination doesn't exist
    assign option_disabled = true
    if variant_exists
      assign option_disabled = false
    endif

    # visually_disabled = true if sold out (for styling like strike-through)
    assign visually_disabled = true
    if variant_available
      assign visually_disabled = false
    endif
  -%}

  {%- capture input_id -%}
    {{ section.id }}-{{ option.position }}-{{ forloop.index0 -}}
  {%- endcapture -%}

  {%- capture input_name -%}
    {{ option.name }}-{{ option.position }}
  {%- endcapture -%}

  {%- capture input_dataset -%}
    data-product-url="{{ value.product_url }}"
    data-option-value-id="{{ value.id }}"
  {%- endcapture -%}

  {%- capture label_unavailable -%}
    <span class="visually-hidden label-unavailable">
      {{- 'products.product.variant_sold_out_or_unavailable' | t -}}
    </span>
  {%- endcapture -%}

  {%- if picker_type == 'swatch' -%}
    {%- capture help_text -%}
      <span class="visually-hidden">{{ value | escape }}</span>
      {{ label_unavailable }}
    {%- endcapture -%}
    {%
      render 'swatch-input',
      id: input_id,
      name: input_name,
      value: value | escape,
      swatch: value.swatch,
      product_form_id: product_form_id,
      checked: value.selected,
      disabled: option_disabled,
      visually_disabled: visually_disabled,
      shape: block.settings.swatch_shape,
      help_text: help_text,
      additional_props: input_dataset
    %}
  {%- elsif picker_type == 'button' -%}
    
      {%- assign matched_variant = null -%}
      {%- for variant in product.variants -%}
          {%- if variant.option1 == value or variant.option2 == value or variant.option3 == value -%}
          {%- assign matched_variant = variant -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}
  

    <input
      type="radio"
      id="{{ input_id }}"
      name="{{ input_name | escape }}"
      value="{{ value | escape }}"
      form="{{ product_form_id }}"
      {% if value.selected %}
        checked
      {% endif %}
      {% if option_disabled %}
        disabled
        class="disabled"
      {% elsif visually_disabled %}
        class="sold-out"
      {% endif %}
      {{ input_dataset }}
    >

    <label
      for="{{ input_id }}"
      {%- if option.name == 'Color'
        or option.name == 'color'
        and matched_variant
        and matched_variant.featured_image != blank
      -%}
        class="color-swatching"
      {% endif %}
    >
      {% if matched_variant.compare_at_price > matched_variant.price %}
        {% assign discount_amount = matched_variant.compare_at_price | minus: matched_variant.price %}
        {% assign discount_percent = discount_amount
          | times: 100
          | divided_by: matched_variant.compare_at_price
          | round
        %}

        <span class="variant-price-discounted">-{{ discount_percent }}%</span>
      {% endif %}

      {%- if option.name == 'Color'
        or option.name == 'color'
        and matched_variant
        and matched_variant.featured_image != blank
      -%}
        <img
          src="{% if matched_variant and matched_variant.featured_image %}{{ matched_variant.featured_image | image_url: width: 200 }}{% else %}{{ 'no-image.png' | asset_url }}{% endif %}"
          alt="{{ value | escape }}"
          width="200"
          height="200"
          loading="lazy"
        >
      {%- else -%}
        {{ value -}}
      {% endif %}
      {{ label_unavailable }}
    </label>
  {%- elsif picker_type == 'dropdown' or picker_type == 'swatch_dropdown' -%}
    <option
      id="{{ input_id }}"
      value="{{ value | escape }}"
      {% if value.selected %}
        selected="selected"
      {% endif %}
      {% if swatch_value and picker_type == 'swatch_dropdown' %}
        data-option-swatch-value="{{ swatch_value }}"
        {% if swatch_focal_point %}
          data-option-swatch-focal-point="{{ swatch_focal_point }}"
        {% endif %}
      {% endif %}
      {{ input_dataset }}
    >
      {% if option_disabled -%}
        {{- 'products.product.value_unavailable' | t: option_value: value -}}
      {%- else -%}
        {{- value -}}
      {%- endif %}
    </option>
  {%- endif -%}
{%- endfor -%}
