<div class="row section-1 mb-80">
  <div class="col-lg-6 d-flex align-items-start flex-column justify-content-center ">
    <h2 class="sh-48 mb-40">{{ block.settings.heading }}</h2>
    {{ block.settings.description }}
  </div>
  <div class="col-lg-6 text-center">
    <img
      class="img-fluid"
      src="{{ block.settings.image | img_url : '710x' }}"
      loading="lazy"
      width="{{ block.settings.image.width }}"
      height="{{ block.settings.image.height }}"
      alt="{{ block.settings.image.alt }}"
    >
  </div>
</div>

<div class="row section-1-1 mb-80">
  <div class="col-lg-4">
    <img
      class="img-fluid mb-3"
      src="{{ block.settings.image1 | img_url : '64x' }}"
      loading="lazy"
      width="{{ block.settings.image1.width }}"
      height="{{ block.settings.image1.height }}"
      alt="{{ block.settings.image1.alt }}"
    >
    <h4>{{ block.settings.heading1 }}</h4>
    {{ block.settings.description1 }}
  </div>
  <div class="col-lg-4">
    <img
      class="img-fluid mb-3"
      src="{{ block.settings.image2 | img_url : '64x' }}"
      loading="lazy"
      width="{{ block.settings.image2.width }}"
      height="{{ block.settings.image2.height }}"
      alt="{{ block.settings.image2.alt }}"
    >
    <h4>{{ block.settings.heading2 }}</h4>
    {{ block.settings.description2 }}
  </div>
  <div class="col-lg-4">
    <img
      class="img-fluid mb-3"
      src="{{ block.settings.image3 | img_url : '64x' }}"
      loading="lazy"
      width="{{ block.settings.image3.width }}"
      height="{{ block.settings.image3.height }}"
      alt="{{ block.settings.image3.alt }}"
    >
    <h4>{{ block.settings.heading3 }}</h4>
    {{ block.settings.description3 }}
  </div>
</div>
