{% style %}
  #shopify-section-{{ section.id }}{
    padding-top: {{ section.settings.padding_top_desktop }};
    padding-bottom: {{ section.settings.padding_bottom_desktop }};
  }

  .award-winning-inner {
    background-image: url( "{{ section.settings.bg_image | img_url : '2200x'  }}" );
    background-size: contain;
    background-position: center center;
    background-color: #001426;
    min-height: 320px;
    background-repeat: no-repeat;
  }


  @media( max-width: 767px){
     #shopify-section-{{ section.id }}{
      padding-top: {{ section.settings.padding_top_mobile }};
      padding-bottom: {{ section.settings.padding_bottom_mobile }};
    }
  }

   @media (min-width: 700px) and (max-width: 767px) {
  
    .award-winning-inner {
      min-height: 230px;
    }
    
  }

    @media (min-width: 500px) and (max-width: 699px) {
  
      .award-winning-inner {
        min-height: 180px;
      }
    
  }

   @media (min-width: 400px) and (max-width: 499px) {
  
      .award-winning-inner {
        min-height: 140px;
      }
    
  }

  @media (max-width: 399px) {
  
      .award-winning-inner {
        min-height: 100px;
      }
    
  }

 
{% endstyle %}
<div class="page-width container-fluid">
  <div class="award-winning-inner d-flex align-items-start justify-content-center flex-wrap flex-column gap-3">
    <div class="award-winning-inner-bg row">
      <div class="col-md-7 pe-md-5">
        <div class="award-winning-inner-heading">
          <h2 class="ph-48">{{ section.settings.heading }}</h2>
        </div>
        <div class="award-winning-innerImages d-flex align-items-center justify-content-start gap-4 mt-3 flex-wrap">
          {% for block in section.blocks %}
            <img
              src="{{ block.settings.image_1 | img_url : 'master'  }}"
              width="{{ block.settings.image_1.width }}"
              height="{{ block.settings.image_1.height }}"
              alt="{{ block.settings.image_1.alt }}"
              class="img-fluid"
            >
          {% endfor %}
        </div>
      </div>
      <div class="col-md-5">
        <div class="award-winning-innerImages d-flex align-items-end justify-md-content-end gap-1 flex-md-column">
          {% for block in section.blocks %}
            {% if block.settings.image_2 != blank %}
              <img
                src="{{ block.settings.image_2 | img_url : 'master'   }}"
                width="{{ block.settings.image_2.width }}"
                height="{{ block.settings.image_2.height }}"
                alt="{{ block.settings.image_2.alt }}"
              >
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Award Winning",
  "class": "award-winning",
  "settings": [
     {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image",
    },
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading",
      "default": "Award-Winning Innovation & Cutting-Edge Technology"
    },
    {
      "type": "text",
      "id": "padding_top_desktop",
      "label": "Padding Desktop Top",
      "default": "80px"
    },
     {
      "type": "text",
      "id": "padding_bottom_desktop",
      "label": "Padding Desktop Bottom",
      "default": "80px"
    },
     {
      "type": "text",
      "id": "padding_top_mobile",
      "label": "Padding Mobile Top",
      "default": "40px"
    },
     {
      "type": "text",
      "id": "padding_bottom_mobile",
      "label": "Padding Mobile Bottom",
      "default": "40px"
    },

  ],
  "blocks": [
    {
      "type": "Images",
      "name": "Images",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Add the Image",
        },
       {
          "type": "image_picker",
          "id": "image_2",
          "label": "Add the Image",
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Award Winning",
    }
  ]
}
{% endschema %}
