{% style %}
  #shopify-section-{{ section.id }}{
    padding-top: {{ section.settings.padding_top_desktop }};
    padding-bottom: {{ section.settings.padding_bottom_desktop }};
    background: linear-gradient(90deg, #001426 0%, #131526 100%);
  }

  @media( max-width: 767px){
     #shopify-section-{{ section.id }}{
      padding-top: {{ section.settings.padding_top_mobile }};
      padding-bottom: {{ section.settings.padding_bottom_mobile }};
    }
  }
{% endstyle %}

{{ 'award-winning-new.css' | asset_url | stylesheet_tag }}

<div class="page-width container-fluid">
  <div class="row align-items-center">
    <div class="col-12 col-md-8">
        <h2></h2>
    </div>
    <div class="col-12 col-md-6">
      <div class="imager">
        <img
          class="img-fluid"
          src="{{ section.settings.image | img_url : 'master' }}"
          alt="{{ section.settings.image.alt }}"
          width="{{ section.settings.image.width }}"
          height="{{ section.settings.image.height }}"
          loading="lazy"
        >
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Award Winning",
  "class": "award-winning",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading",
      "default": "Award-Winning Innovation & Cutting-Edge Technology"
    },
    {
      "type": "text",
      "id": "padding_top_desktop",
      "label": "Padding Desktop Top",
      "default": "80px"
    },
    {
      "type": "text",
      "id": "padding_bottom_desktop",
      "label": "Padding Desktop Bottom",
      "default": "80px"
    },
    {
      "type": "text",
      "id": "padding_top_mobile",
      "label": "Padding Mobile Top",
      "default": "40px"
    },
    {
      "type": "text",
      "id": "padding_bottom_mobile",
      "label": "Padding Mobile Bottom",
      "default": "40px"
    }
  ],
  "blocks": [
    {
      "type": "Images",
      "name": "Images",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Add the Image"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Add the Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Award Winning"
    }
  ]
}
{% endschema %}
