{% style %}
  #shopify-section-{{ section.id }}{
    padding-top: {{ section.settings.padding_top_desktop }};
    padding-bottom: {{ section.settings.padding_bottom_desktop }};
  }

  @media( max-width: 767px){
     #shopify-section-{{ section.id }}{
      padding-top: {{ section.settings.padding_top_mobile }};
      padding-bottom: {{ section.settings.padding_bottom_mobile }};
    }
  }
{% endstyle %}
{{ 'brand-lists.css' | asset_url | stylesheet_tag }}
<div class="page-width container-fluid">
  <div class="row">
    <div class="col-12">
      {{ section.settings.description }}
    </div>
  </div>
  <div class="row mt-5 mt-md-5">
    {% for block in section.blocks %}
      <div class="col-sm-6 col-md-4 ">
        <div class="brand-list-box" onclick="location.href = '{{  block.settings.link }}';" style="cursor:pointer;">
          <div class="imager">
            <img
              src="{{ block.settings.image | img_url : 'master'  }}"
              class="img-fluid"
              width="{{  block.settings.image.width }}"
              height="{{  block.settings.image.height }}"
              loading="lazy"
            >
          </div>
          <h3 class="sh-32">{{ block.settings.heading }}</h3>
          {{ block.settings.description }}
          <a class="s-btn" href="{{ block.settings.link }}" title="Learn More">
            <span>{{ block.settings.link_label }}</span>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Brand Lists",
  "class": "brand-lists",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "description",
      "label": "Heading",
    },
    {
      "type": "text",
      "id": "padding_top_desktop",
      "label": "Padding Desktop Top",
      "default": "80px"
    },
     {
      "type": "text",
      "id": "padding_bottom_desktop",
      "label": "Padding Desktop Bottom",
      "default": "80px"
    },
     {
      "type": "text",
      "id": "padding_top_mobile",
      "label": "Padding Mobile Top",
      "default": "40px"
    },
     {
      "type": "text",
      "id": "padding_bottom_mobile",
      "label": "Padding Mobile Bottom",
      "default": "40px"
    },
  ],
  "blocks": [
    {
      "type": "brand_list",
      "name": "Brand List",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Select Image",
        },
         {
          "type": "text",
          "id": "heading",
          "label": "Heading",
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Discription",
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
        },
          {
          "type": "text",
          "id": "link_label",
          "label": "Link Label",
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Brand Lists",
    }
  ]
}
{% endschema %}
