{% style %}
  #shopify-section-{{ section.id }}{
    padding-top: {{ section.settings.padding_top_desktop }};
    padding-bottom: {{ section.settings.padding_bottom_desktop }};
   background-color: #EBF0F5;
  }

  @media( max-width: 767px){
     #shopify-section-{{ section.id }}{
      padding-top: {{ section.settings.padding_top_mobile }};
      padding-bottom: {{ section.settings.padding_bottom_mobile }};
    }
  }
{% endstyle %}

{{ 'caco-supplier.css' | asset_url | stylesheet_tag }}
<div class="page-width container-fluid">
  <div class="d-flex align-items-center justify-content-center flex-wrap flex-column gap-3 text-center">
    <h2 class="sh-48">{{ section.settings.heading }}</h2>
    {{ section.settings.sub_heading }}
    <a class="s-btn" href="{{ section.settings.button_url }}"
      ><span>{{ section.settings.button_label }}</span></a
    >
  </div>
</div>
{% schema %}
{
  "name": "CACO Supplier",
  "class": "caco-supplier",
  "settings": [
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading",
      "default": "<span>CACO America:</span>Your Trusted PPE Supplier"
    },
     {
      "type": "richtext",
      "id": "sub_heading",
      "label": "Sub Heading",
      "default": "<p>With over three decades of expertise in industrial safety and hardware solutions, CACO America LLC is a leading name in the PPE industry. As a subsidiary of the esteemed Caco Abbo Group, established in 1986, we pride ourselves on providing OSHA-compliant PPE designed for unparalleled safety, comfort, and performance.</p> <p>At CACO America, safety is paramount. As the exclusive distributor of General Electric Personal Protective Equipment across the Americas, we deliver cutting-edge industrial safety gear backed by GE's legacy of innovation. From cut-resistant gloves to safety helmets and high-visibility workwear, our products meet the rigorous demands of industrial environments while ensuring ease of use for workers.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Label",
      "default": "Find Out More"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Link",
    },
    {
      "type": "text",
      "id": "padding_top_desktop",
      "label": "Padding Desktop Top",
      "default": "80px"
    },
     {
      "type": "text",
      "id": "padding_bottom_desktop",
      "label": "Padding Desktop Bottom",
      "default": "80px"
    },
     {
      "type": "text",
      "id": "padding_top_mobile",
      "label": "Padding Mobile Top",
      "default": "40px"
    },
     {
      "type": "text",
      "id": "padding_bottom_mobile",
      "label": "Padding Mobile Bottom",
      "default": "40px"
    },

  ],
  "presets": [
    {
      "name": "CACO Supplier",
    }
  ]
}
{% endschema %}
