{% style %}
  #shopify-section-{{ section.id }}{
    padding-top: {{ section.settings.padding_top_desktop }};
    padding-bottom: {{ section.settings.padding_bottom_desktop }};
  }

  .featured-categories-inner .sh-48{
    max-width: 50rem;
    margin: 0 auto;
  }

  .featured-categories-inner .sh-48{
    max-width: 50rem;
    margin: 0 auto;
  }

  .featured-categories-inner .s-btn {
      padding: 16px 32px;
      min-height: 56px;
      font-weight: 600;
  }

  @media( max-width: 767px){
     #shopify-section-{{ section.id }}{
      padding-top: {{ section.settings.padding_top_mobile }};
      padding-bottom: {{ section.settings.padding_bottom_mobile }};
    }
  }
{% endstyle %}
{{ 'featured-categories.css' | asset_url | stylesheet_tag }}
<div class="container-fluid">

    
    <div class="row">
      {% for block in section.blocks %}
        <div class="col-12 col-md-6 col-lg-3">
          <div class="image-banner mb-3">
            <img class="img-fluid" src="{{ block.settings.custom_image | img_url : '500x' }}" loading="lazy" width="{{ block.settings.custom_image.width }}" height="{{ block.settings.custom_image.height }}" alt="{{ block.settings.custom_image.alt }}">
          </div>
          <h2 class="sp-20">{{ block.settings.custom_heading }}</h2>
        </div>
      {% endfor %}
    </div>
  </div>

{% schema %}
{
  "name": "Column Data",
  "class": "featured-categories",
  "settings": [
    {
      "type": "text",
      "id": "padding_top_desktop",
      "label": "Padding Desktop Top",
      "default": "80px"
    },
     {
      "type": "text",
      "id": "padding_bottom_desktop",
      "label": "Padding Desktop Bottom",
      "default": "80px"
    },
     {
      "type": "text",
      "id": "padding_top_mobile",
      "label": "Padding Mobile Top",
      "default": "40px"
    },
     {
      "type": "text",
      "id": "padding_bottom_mobile",
      "label": "Padding Mobile Bottom",
      "default": "40px"
    },
  ],
  "blocks": [
    {
      "type": "category",
      "name": "Column",
      "settings": [
        {
          "type": "richtext",
          "id": "custom_heading",
          "label": "Product Type Filter Ex. Safety Helmets",
        },
         {
          "type": "image_picker",
          "id": "custom_image",
          "label": "Select Image",
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Column Data",
    }
  ]
}
{% endschema %}
