{% style %}
  #shopify-section-{{ section.id }}{
    padding-top: {{ section.settings.padding_top_desktop }};
    padding-bottom: {{ section.settings.padding_bottom_desktop }};
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media( max-width: 767px){
     #shopify-section-{{ section.id }}{
      padding-top: {{ section.settings.padding_top_mobile }};
      padding-bottom: {{ section.settings.padding_bottom_mobile }};
    }
  }
{% endstyle %}
{{ 'contact-info.css' | asset_url | stylesheet_tag }}
<div class="page-width container-fluid">
  <div class="row row d-flex align-items-start contact-info-inner">
    <div class="col-md-4">
      {{ section.settings.form_html_1 | raw }}
    </div>
    <div class="col-md-3">
      {{ section.settings.form_html_2 | raw }}
    </div>
    <div class="col-md-3">
      {{ section.settings.form_html_3 | raw }}
    </div>
    <div class="col-md-2">
      {{ section.settings.form_html_4 | raw }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Contact Info",
  "class": "contact-info-bar",
  "enabled_on": {
    "groups": ["footer"]
  },
  "settings": [
     {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image",
    },
    {
      "type": "textarea",
      "id": "form_html_1",
      "label": "Custom HTML",
      "default": "<span>Contact Info</span><h2>We are always happy to assist you</h2>"
    },
    {
      "type": "textarea",
      "id": "form_html_2",
      "label": "Custom HTML",
      "default": "<h5>Address</h5><p><strong>Caco American</strong><br>10310 NW 121st. Way, Suite 100.<br>Medley, FL 33178</p>"
    },
     {
      "type": "textarea",
      "id": "form_html_3",
      "label": "Custom HTML",
      "default": " <h5>Email Address</h5><p><a href='mailto:sales@cacoamerica.com'><strong>sales@cacoamerica.com</strong></a><br>Assistance hours:<br>Monday - Friday 6 am to 8 pm EST</p>"
    },
    {
      "type": "textarea",
      "id": "form_html_4",
      "label": "Custom HTML",
      "default": "<h5>Phone</h5><p><strong>+1 (305) 507-1190</strong><br><strong>+1 (800) 291-1718</strong></p>"
    },
    {
      "type": "text",
      "id": "padding_top_desktop",
      "label": "Padding Desktop Top",
      "default": "80px"
    },
     {
      "type": "text",
      "id": "padding_bottom_desktop",
      "label": "Padding Desktop Bottom",
      "default": "80px"
    },
     {
      "type": "text",
      "id": "padding_top_mobile",
      "label": "Padding Mobile Top",
      "default": "40px"
    },
     {
      "type": "text",
      "id": "padding_bottom_mobile",
      "label": "Padding Mobile Bottom",
      "default": "40px"
    },

  ],
  "presets": [
    {
      "name": "Contact Info",
    }
  ]
}
{% endschema %}
