{% style %}
  #shopify-section-{{ section.id }}{
    padding-top: {{ section.settings.padding_top_desktop }};
    padding-bottom: {{ section.settings.padding_bottom_desktop }};
    background: var(--font-secondary-color);
  }

  @media( max-width: 767px){
     #shopify-section-{{ section.id }}{
      padding-top: {{ section.settings.padding_top_mobile }};
      padding-bottom: {{ section.settings.padding_bottom_mobile }};
    }
  }
{% endstyle %}

{{ 'distributor-form.css' | asset_url | stylesheet_tag }}

<!-- Do not chnage this ID because many of links are scrolling to this -->
<div id="beccome-a-distributor">
  <div class="page-width container-fluid">
    <div class="row">
      <div class="col-md-10">
        <h2 class="ph-60">{{ section.settings.heading }}</h2>
        <span class="pp-16">{{ section.settings.sub_heading }}</span>
      </div>
      {% comment %}
      <div class="col-md-2 social-icons-dist">
        {% if section.settings.show_social_media == true %}
          {%- render 'social-icons',
            class: 'distributer__list-social d-flex justify-content-md-end flex-md-column align-items-end'
          -%}
        {% endif %}
        
      </div>
      {% endcomment %}
    </div>
    {% comment %} <form class="mt-5">
      <div class="row g-3">
        <div class="col-md-4 mt-5">
          <label for="name" class="form-label">Your Name</label>
          <input type="text" class="form-control" id="name" placeholder="Your Name">
        </div>
        <div class="col-md-4 mt-5">
          <label for="email" class="form-label">Email Address</label>
          <input type="email" class="form-control" id="email" placeholder="Email Address">
        </div>
        <div class="col-md-4 mt-5">
          <label for="phone" class="form-label">Phone Number (optional)</label>
          <input type="text" class="form-control" id="phone" placeholder="Phone Number">
        </div>
        <div class="col-md-4 mt-5">
          <label for="city" class="form-label">City</label>
          <input type="text" class="form-control" id="city" placeholder="City">
        </div>
        <div class="col-md-4 mt-5">
          <label for="state" class="form-label">State</label>
          <input type="text" class="form-control" id="state" placeholder="State">
        </div>
        <div class="col-md-4 mt-5">
          <label for="country" class="form-label">Country</label>
          <input type="text" class="form-control" id="country" placeholder="Country">
        </div>
        <div class="col-md-4 mt-5">
          <label for="company" class="form-label">Company Name</label>
          <input type="text" class="form-control" id="company" placeholder="Company Name">
        </div>
        <div class="col-md-4 mt-5">
          <label for="business-type" class="form-label">Type of Business</label>
          <input type="text" class="form-control" id="business-type" placeholder="Type of Business">
        </div>
        <div class="col-md-4 mt-5">
          <label for="individual-type" class="form-label">Type of Individual</label>
          <input type="text" class="form-control" id="individual-type" placeholder="Type of Individual">
        </div>
        <div class="col-12 mt-5">
          <label for="message" class="form-label">Message</label>
          <textarea class="form-control" id="message" rows="3" placeholder="Message"></textarea>
        </div>
        <div class="col-12 text-start">
          <button type="submit" class="btn btn-submit">Submit Inquiry</button>
        </div>
      </div>
    </form> {% endcomment %}
    <div class="globo-formbuilder" data-id="Nzc4MTY="></div>
  </div>
</div>

{% schema %}
{
  "name": "Distributor Form",
  "class": "distributor-form",
  "enabled_on": {
    "groups": ["footer"]
  },
  "settings": [
      {
        "type": "text",
        "id": "heading",
        "default" : "Become a Distributor.",
        "label": "Heading"
      },
     {
        "type": "text",
        "id": "sub_heading",
        "default" : "Send Your Workers Home SAFE",
        "label": "Sub Heading"
      },
     {
        "type": "checkbox",
        "id": "show_social_media",
        "default" : true,
        "label": "Show the Social Media Icons"
      },
     {
      "type": "text",
      "id": "padding_top_desktop",
      "label": "Padding Desktop Top",
      "default": "80px"
    },
     {
      "type": "text",
      "id": "padding_bottom_desktop",
      "label": "Padding Desktop Bottom",
      "default": "80px"
    },
     {
      "type": "text",
      "id": "padding_top_mobile",
      "label": "Padding Mobile Top",
      "default": "40px"
    },
     {
      "type": "text",
      "id": "padding_bottom_mobile",
      "label": "Padding Mobile Bottom",
      "default": "40px"
    },
  ],
  "presets": [
    {
      "name": "Distributor Form",
    }
  ]
}
{% endschema %}
