{% style %}
  #shopify-section-{{ section.id }}{
    padding-top: {{ section.settings.padding_top_desktop }};
    padding-bottom: {{ section.settings.padding_bottom_desktop }};
  }

  @media( max-width: 767px){
     #shopify-section-{{ section.id }}{
      padding-top: {{ section.settings.padding_top_mobile }};
      padding-bottom: {{ section.settings.padding_bottom_mobile }};
    }
  }
{% endstyle %}
{{ 'featured-categories.css' | asset_url | stylesheet_tag }}

{% if section.settings.page_width == 'container' %}
  <div class="page-width container-fluid">
{% endif %}
<div class="featured-categories-inner">
  {% if section.settings.parent_categories != blank %}
    {% if section.settings.show_tabs == true %}
      {% comment %} Creating the Array {% endcomment %}
      {% assign categories = section.settings.parent_categories | split: ',' %}
      {% render 'featured-categories-tab', categories: categories %}
    {% endif %}
  {% endif %}

  {% if section.settings.show_tabs == true and section.settings.layout == 'swiper' %}
    {% render 'featured-categories-tab-content-swiper', categories: categories, section: section %}
  {% elsif section.settings.show_tabs == true and section.settings.layout == 'grid' %}
    {% render 'featured-categories-tab-content-grid', categories: categories, section: section %}
  {% elsif section.settings.show_tabs == false and section.settings.layout == 'swiper' %}
    {% render 'featured-categories-swiper', categories: categories, section: section %}
  {% elsif section.settings.show_tabs == false and section.settings.layout == 'grid' %}
    {% render 'featured-categories-grid', categories: categories, section: section %}
  {% endif %}
</div>
{% if section.settings.page_width == 'container' %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Featured Categories",
  "class": "featured-categories",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
     {
      "type": "checkbox",
      "id": "show_tabs",
      "label": "Show parent category tabs",
    },
    {
      "type": "text",
      "id": "parent_categories",
      "label": "Enter the parent categories comma seperated in lower case",
      "default": "ge-ppe,best-value"
    },
    {
      "type": "select",
      "id": "page_width",
      "options": [
        {
          "value": "full-width",
          "label": "Full Width"
        },
        {
          "value": "container",
          "label": "Container"
        },
      ],
      "default": "full-width",
      "label": "Select Width"
    },
    {
      "type": "checkbox",
      "id": "offset-first-col",
      "label": "If Fullwidth you want the offset only first column"
    },
     {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "swiper",
          "label": "Swiper"
        },
      ],
      "default": "grid",
      "label": "Select layout"
    },
    {
      "type": "checkbox",
      "id": "show_buttons",
      "label": "Show Buttons",
    },
     {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
       "default" : "Learn More"
    },
      {
      "type": "url",
      "id": "button_link",
      "label": "Button link",
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Please enter the description",
      "default": "<p>Caco America LLC is a trusted manufacturer of high-quality Personal Protective Equipment (PPE), serving industries such as healthcare, construction, and manufacturing. Backed by globally recognized certifications (ISO, FDA, CE), we ensure our products meet the highest safety and quality standards. With rigorous quality assurance and years of expertise, we provide reliable PPE solutions that protect lives and workplaces.</p>"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show Description",
    },
    {
      "type": "text",
      "id": "padding_top_desktop",
      "label": "Padding Desktop Top",
      "default": "80px"
    },
     {
      "type": "text",
      "id": "padding_bottom_desktop",
      "label": "Padding Desktop Bottom",
      "default": "80px"
    },
     {
      "type": "text",
      "id": "padding_top_mobile",
      "label": "Padding Mobile Top",
      "default": "40px"
    },
     {
      "type": "text",
      "id": "padding_bottom_mobile",
      "label": "Padding Mobile Bottom",
      "default": "40px"
    },
  ],
  "blocks": [
    {
      "type": "category",
      "name": "Category Name",
      "settings": [
        {
          "type": "collection",
          "id": "collection_id",
          "label": "Select the Category",
        },
        {
          "type": "image_picker",
          "id": "show_product_type_image",
          "label": "Select the Category Product Type Image",
        },
         {
          "type": "image_picker",
          "id": "show_product_type_image_hover",
          "label": "Select the Category Product Type Hover Image",
        },
         {
          "type": "text",
          "id": "type_filter",
          "label": "Product Type Filter Ex. Safety Helmets",
        },
        {
          "type": "text",
          "id": "custom_description",
          "label": "Enter the Custom Discription",
        },
       {
          "type": "select",
          "id": "parent_category",
          "options": [
        	{
        	  "value": "ge-ppe",
        	  "label": "GE PPE"
        	},
        	{
        	  "value": "best-value",
        	  "label": "Best Value"
        	},
          ],
          "default": "ge-ppe",
          "label": "Select Parent Category"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Categories",
    }
  ]
}
{% endschema %}
