{% style %}
  #shopify-section-{{ section.id }}{
    padding-top: {{ section.settings.padding_top_desktop }};
    padding-bottom: {{ section.settings.padding_bottom_desktop }};
  }

  @media( max-width: 767px){
     #shopify-section-{{ section.id }}{
      padding-top: {{ section.settings.padding_top_mobile }};
      padding-bottom: {{ section.settings.padding_bottom_mobile }};
    }
  }



.footer .footer__content.page-width.container-fluid{
  padding-left: 20px;   /* “sangría” interna a la izquierda */
  padding-right: 20px;

}
@media (max-width: 767px){
  .footer .footer__content.page-width.container-fluid{
    padding-left: 20px;
    padding-right: 20px;
  }
}







  
{% endstyle %}

{%- if section.blocks.size > 0 -%}
  <footer class="footer color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding">
    <div class="footer__content page-width container-fluid">
      <!-- Back top Top -->

      {% render 'back-to-top' %}
      <!-- Back To top End -->
      <div class="row">
        {% assign offset_added = false %}
        {%- for block in section.blocks -%}
          <div class="{% if block.type == 'text' %} col-md-3 {% elsif block.type == 'link_list' %}{% if offset_added == false %} offset-md-1  col-md-2 col-sm-4 col-6  {% endif %}  col-md-2 col-sm-4 col-6   {% endif %}">
            {%- if block.settings.heading != blank -%}
              <h2 class="footer-block__heading">{{- block.settings.heading -}}</h2>
            {%- endif -%}
            {%- case block.type -%}
              {%- when '@app' -%}
                {% render block %}
              {%- when 'text' -%}
                <div class="footer-block__details-content rte">
                  <img
                    src="{{ block.settings.image_logo | img_url : '264x' }}"
                    width="264"
                    height="24"
                    alt="footer logo"
                  >
                  {{ block.settings.subtext }}
                  {%- if block.settings.show_social -%}
                    {%- render 'social-icons', class: 'footer__list-social' -%}
                  {% endif %}
                </div>
              {%- when 'link_list' -%}
                {% assign offset_added = true %}
                {%- if block.settings.menu != blank -%}
                  <ul class="footer-block-menu">
                    {%- for link in block.settings.menu.links -%}
                      <li>
                        <a href="{{ link.url }}">{{ link.title | escape }}</a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
            {%- endcase -%}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </footer>
{% endif %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.link_list.settings.heading.default",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_logo",
          "label": "Logo"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Caco America LLC is a subsidiary of Caco Abbo Group which was established in 1986 by Mr. Isaac \"Caco\" Abbo and his two sons. We have over 30 years of experience designing, producing, and distributing plumbing, electrical accessories, hand tools, PPE, hardware products, and other product lines like auto accessories.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        },
         {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        }
      ]
    },
  ],
  "settings": [
      {
      "type": "text",
      "id": "padding_top_desktop",
      "label": "Padding Desktop Top",
      "default": "80px"
    },
     {
      "type": "text",
      "id": "padding_bottom_desktop",
      "label": "Padding Desktop Bottom",
      "default": "80px"
    },
     {
      "type": "text",
      "id": "padding_top_mobile",
      "label": "Padding Mobile Top",
      "default": "40px"
    },
     {
      "type": "text",
      "id": "padding_bottom_mobile",
      "label": "Padding Mobile Bottom",
      "default": "40px"
    },

  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
