{% style %}
  #shopify-section-{{ section.id }}{
    padding-top: {{ section.settings.padding_top_desktop }};
    padding-bottom: {{ section.settings.padding_bottom_desktop }};
  }


  @media( max-width: 767px){
     #shopify-section-{{ section.id }}{
      padding-top: {{ section.settings.padding_top_mobile }};
      padding-bottom: {{ section.settings.padding_bottom_mobile }};
    }
  }
{% endstyle %}

{{ 'industries-section-2.css' | asset_url | stylesheet_tag }}
<div class="page-width container-fluid ">
  <div class="row">
    <div class="col-12">
      <h2 class="sh-48">{{ section.settings.heading }}</h2>
    </div>
  </div>
  <div class="row mt-lg-4 mt-3">
    <div class="col-12 col-lg-6">
      <p class="sp-16">{{ section.settings.description1 }}</p>
    </div>
     <div class="col-12 col-lg-6">
        <p class="sp-16">{{ section.settings.description2 }}</p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Industries Section 2",
  "class": "industries-section-2",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
    },
    {
      "type": "text",
      "id": "description1",
      "label": "Sub Heading",
    },
    {
      "type": "text",
      "id": "description2",
      "label": "Sub Heading",
    },
    {
      "type": "text",
      "id": "padding_top_desktop",
      "label": "Padding Desktop Top",
      "default": "80px"
    },
     {
      "type": "text",
      "id": "padding_bottom_desktop",
      "label": "Padding Desktop Bottom",
      "default": "80px"
    },
     {
      "type": "text",
      "id": "padding_top_mobile",
      "label": "Padding Mobile Top",
      "default": "40px"
    },
     {
      "type": "text",
      "id": "padding_bottom_mobile",
      "label": "Padding Mobile Bottom",
      "default": "40px"
    },

  ],
  "presets": [
    {
      "name": "Industries Section 2",
    }
  ]
}
{% endschema %}
