{% style %}
  #shopify-section-{{ section.id }}{
    padding-top: {{ section.settings.padding_top_desktop }};
    padding-bottom: {{ section.settings.padding_bottom_desktop }};
  }


  .industries-section-2-4 ul li:first-child::before {
    background-image: url("{{ 'list-1.png' | asset_img_url : 'original' }}");
  }

  .industries-section-2-4 ul li:nth-child(2)::before {
    background-image: url("{{ 'list-2.png' | asset_img_url : 'original' }}");
  }

  .industries-section-2-4 ul li:nth-child(3)::before {
    background-image: url("{{ 'list-3.png' | asset_img_url : 'original' }}");
  }
  
  @media( max-width: 767px){
     #shopify-section-{{ section.id }}{
      padding-top: {{ section.settings.padding_top_mobile }};
      padding-bottom: {{ section.settings.padding_bottom_mobile }};
    }
  }
{% endstyle %}

{{ 'industries-section-2-4.css' | asset_url | stylesheet_tag }}
<div class="page-width container-fluid ">
  <div class="row">
    <div class="col-12">
      
    </div>
  </div>
  <div class="row mt-lg-4 mt-3">
    <div class="col-12 col-lg-12 text-center listing-cri">
      {{ section.settings.description | replace : '|' , '<br>' }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Industries Section 2-4",
  "class": "industries-section-2-4",
  "settings": [
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
    },
    {
      "type": "text",
      "id": "padding_top_desktop",
      "label": "Padding Desktop Top",
      "default": "80px"
    },
     {
      "type": "text",
      "id": "padding_bottom_desktop",
      "label": "Padding Desktop Bottom",
      "default": "80px"
    },
     {
      "type": "text",
      "id": "padding_top_mobile",
      "label": "Padding Mobile Top",
      "default": "40px"
    },
     {
      "type": "text",
      "id": "padding_bottom_mobile",
      "label": "Padding Mobile Bottom",
      "default": "40px"
    },

  ],
  "presets": [
    {
      "name": "Industries Section 2-4",
    }
  ]
}
{% endschema %}
