{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{% unless product.has_only_default_variant %}
  {{ 'component-product-variant-picker.css' | asset_url | stylesheet_tag }}
  {{ 'component-swatch-input.css' | asset_url | stylesheet_tag }}
  {{ 'component-swatch.css' | asset_url | stylesheet_tag }}
{% endunless %}
{%- if product.quantity_price_breaks_configured? -%}
  {{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-width {
    max-width: 650px;
    margin: 0 auto;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<product-info
  id="MainProduct-{{ section.id }}"
  class="section-{{ section.id }}-padding"
  data-section="{{ section.id }}"
  data-product-id="{{ product.id }}"
  data-update-url="true"
  data-url="{{ product.url }}"
>
  <script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  {%- if product.quantity_price_breaks_configured? -%}
    <script src="{{ 'show-more.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {%- assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' -%}
  {%- assign product_form_id = 'product-form-' | append: section.id -%}
  {%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}
  {%- if first_3d_model -%}
    {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
    <link
      id="ModelViewerStyle"
      rel="stylesheet"
      href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
      media="print"
      onload="this.media='all'"
    >
    <link
      id="ModelViewerOverride"
      rel="stylesheet"
      href="{{ 'component-model-viewer-ui.css' | asset_url }}"
      media="print"
      onload="this.media='all'"
    >
  {%- endif -%}

  <div class="page-width section-{{ section.id }}-width">
    <div class="product product--medium product--thumbnail grid grid--1-col{% if product.media.size > 0 %} grid--2-col-tablet{% else %} product--no-media{% endif %} product--left">
      <div class="grid__item product__media-wrapper">
        {%- if product.media.size > 0 -%}
          {% render 'product-media-gallery', product: product, variant_images: variant_images %}
        {%- else -%}
          <div class="product__media-item">
            <div class="product-media-container global-media-settings gradient" style="--ratio: 1.0; --preview-ratio: 1.0;">
              {{ 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          </div>
        {%- endif -%}
      </div>

      <div class="product__info-wrapper grid__item">
        <section
          id="ProductInfo-{{ section.id }}"
          class="product__info-container product__column-sticky"
          data-section="{{ section.id }}"
          data-url="{{ product.url }}"
        >
          <p class="product__text caption-with-letter-spacing">
            {{ product.vendor }}
          </p>
          <h1 class="product__title h1">
            {{ product.title | escape }}
          </h1>
          {%- if product.metafields.custom.sub_title != blank -%}
            <p class="product__text">{{ product.metafields.custom.sub_title }}</p>
          {%- endif -%}
          {%- if product.selected_or_first_available_variant.sku != blank -%}
            <p
              class="product__sku"
              id="Sku-{{ section.id }}"
              role="status"
            >
              <span class="visually-hidden">{{ 'products.product.sku' | t }}:</span>
              {{- product.selected_or_first_available_variant.sku -}}
            </p>
          {%- endif -%}

          <div id="price-{{ section.id }}" role="status">
            {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
          </div>

          {%- unless product.has_only_default_variant -%}
            <variant-selects id="variant-selects-{{ section.id }}" data-section="{{ section.id }}">
              {%- for option in product.options_with_values -%}
                <fieldset class="product-form__input">
                  <legend class="form__label">
                    {{ option.name }}:
                    <strong data-selected-value>{{ option.selected_value }}</strong>
                  </legend>
                  {%- for value in option.values -%}
                    {%- capture input_id -%}
                      Option-{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}
                    {%- endcapture -%}
                    <input
                      type="radio"
                      id="{{ input_id }}"
                      name="options[{{ option.name | escape }}]"
                      value="{{ value | escape }}"
                      form="{{ product_form_id }}"
                      data-option-position="{{ option.position }}"
                      data-option-value-id="{{ value.id }}"
                      {% if option.selected_value == value %}checked{% endif %}
                    >
                    <label for="{{ input_id }}">{{ value }}</label>
                  {%- endfor -%}
                </fieldset>
              {%- endfor -%}
              <script type="application/json" data-selected-variant>
                {{ product.selected_or_first_available_variant | json }}
              </script>
            </variant-selects>
          {%- endunless -%}

          {%- assign cart_qty = cart | item_count_for_variant: product.selected_or_first_available_variant.id -%}
          <product-form class="product-form" data-section-id="{{ section.id }}">
            <div class="product-form__error-message-wrapper" role="alert" hidden>
              <span class="svg-wrapper">
                {{- 'icon-error.svg' | inline_asset_content -}}
              </span>
              <span class="product-form__error-message"></span>
            </div>

            {%- form 'product',
              product,
              id: product_form_id,
              class: 'form',
              novalidate: 'novalidate',
              data-type: 'add-to-cart-form'
            -%}
              <input
                type="hidden"
                name="id"
                value="{{ product.selected_or_first_available_variant.id }}"
                {% if product.selected_or_first_available_variant.available == false %}
                  disabled
                {% endif %}
                class="product-variant-id"
              >

              <div
                id="Quantity-Form-{{ section.id }}"
                class="product-form__input product-form__quantity{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} product-form__quantity-top{% endif %}"
              >
                <label class="quantity__label form__label" for="Quantity-{{ section.id }}">
                  {{ 'products.product.quantity.label' | t }}
                  <span class="quantity__rules-cart{% if cart_qty == 0 %} hidden{% endif %}">
                    {%- render 'loading-spinner' -%}
                    <span>
                      (
                      {{- 'products.product.quantity.in_cart_html' | t: quantity: cart_qty -}}
                      )
                    </span>
                  </span>
                </label>
                <div class="price-per-item__container">
                  <quantity-input class="quantity" data-url="{{ product.url }}" data-section="{{ section.id }}">
                    <button class="quantity__button" name="minus" type="button">
                      <span class="visually-hidden">
                        {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                      </span>
                      <span class="svg-wrapper">
                        {{- 'icon-minus.svg' | inline_asset_content -}}
                      </span>
                    </button>
                    <input
                      class="quantity__input"
                      type="number"
                      name="quantity"
                      id="Quantity-{{ section.id }}"
                      data-cart-quantity="{{ cart_qty }}"
                      data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                      min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                      step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
                      value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                      form="{{ product_form_id }}"
                    >
                    <button class="quantity__button" name="plus" type="button">
                      <span class="visually-hidden">
                        {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                      </span>
                      <span class="svg-wrapper">
                        {{- 'icon-plus.svg' | inline_asset_content -}}
                      </span>
                    </button>
                  </quantity-input>
                  {%- liquid
                    assign volume_pricing_array = product.selected_or_first_available_variant.quantity_price_breaks | sort: 'quantity' | reverse
                    assign current_qty_for_volume_pricing = cart_qty | plus: product.selected_or_first_available_variant.quantity_rule.min
                    if cart_qty > 0
                      assign current_qty_for_volume_pricing = cart_qty | plus: product.selected_or_first_available_variant.quantity_rule.increment
                    endif
                  -%}
                  {%- if product.quantity_price_breaks_configured? -%}
                    <price-per-item
                      id="Price-Per-Item-{{ section.id }}"
                      data-section-id="{{ section.id }}"
                      data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                    >
                      {%- if product.selected_or_first_available_variant.quantity_price_breaks.size > 0 -%}
                        {%- assign variant_price_compare = product.selected_or_first_available_variant.compare_at_price -%}
                        <div class="price-per-item">
                          {%- if variant_price_compare -%}
                            <dl class="price-per-item--current">
                              <dt class="visually-hidden">
                                {{ 'products.product.price.regular_price' | t }}
                              </dt>
                              <dd>
                                <s class="variant-item__old-price">
                                  {{ variant_price_compare | money_with_currency }}
                                </s>
                              </dd>
                            </dl>
                          {%- endif -%}
                          {%- if current_qty_for_volume_pricing < volume_pricing_array.last.minimum_quantity -%}
                            {%- assign variant_price = product.selected_or_first_available_variant.price | money_with_currency -%}
                            <span class="price-per-item--current">
                              {{- 'products.product.volume_pricing.price_at_each' | t: price: variant_price -}}
                            </span>
                          {%- else -%}
                            {%- for price_break in volume_pricing_array -%}
                              {%- if current_qty_for_volume_pricing >= price_break.minimum_quantity -%}
                                {%- assign price_break_price = price_break.price | money_with_currency -%}
                                <span class="price-per-item--current">
                                  {{-
                                    'products.product.volume_pricing.price_at_each'
                                    | t: price: price_break_price
                                  -}}
                                </span>
                                {%- break -%}
                              {%- endif -%}
                            {%- endfor -%}
                          {%- endif -%}
                        </div>
                      {%- else -%}
                        {%- assign variant_price = product.selected_or_first_available_variant.price | money_with_currency -%}
                        {%- assign variant_price_compare = product.selected_or_first_available_variant.compare_at_price -%}
                        <div class="price-per-item">
                          {%- if variant_price_compare -%}
                            <dl class="price-per-item--current">
                              <dt class="visually-hidden">
                                {{ 'products.product.price.regular_price' | t }}
                              </dt>
                              <dd>
                                <s class="variant-item__old-price">
                                  {{ variant_price_compare | money_with_currency }}
                                </s>
                              </dd>
                              <dt class="visually-hidden">
                                {{ 'products.product.price.sale_price' | t }}
                              </dt>
                              <dd>
                                <span class="price-per-item--current">
                                  {{- 'products.product.volume_pricing.price_at_each' | t: price: variant_price -}}
                                </span>
                              </dd>
                            </dl>
                          {%- else -%}
                            <span class="price-per-item--current">
                              {{- 'products.product.volume_pricing.price_at_each' | t: price: variant_price -}}
                            </span>
                          {%- endif -%}
                        </div>
                      {%- endif -%}
                    </price-per-item>
                  {%- endif -%}
                </div>
                <div class="quantity__rules caption" id="Quantity-Rules-{{ section.id }}">
                  {%- if product.selected_or_first_available_variant.quantity_rule.increment > 1 -%}
                    <span class="divider">
                      {{-
                        'products.product.quantity.multiples_of'
                        | t: quantity: product.selected_or_first_available_variant.quantity_rule.increment
                      -}}
                    </span>
                  {%- endif -%}
                  {%- if product.selected_or_first_available_variant.quantity_rule.min > 1 -%}
                    <span class="divider">
                      {{-
                        'products.product.quantity.minimum_of'
                        | t: quantity: product.selected_or_first_available_variant.quantity_rule.min
                      -}}
                    </span>
                  {%- endif -%}
                </div>
              </div>

              {%- liquid
                assign check_against_inventory = true
                if product.selected_or_first_available_variant.inventory_management != 'shopify' or product.selected_or_first_available_variant.inventory_policy == 'continue'
                  assign check_against_inventory = false
                endif
                if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
                  assign quantity_rule_soldout = true
                endif
              -%}

              <div class="product-form__buttons">
                <button
                  id="ProductSubmitButton-{{ section.id }}"
                  type="submit"
                  name="add"
                  class="product-form__submit button button--full-width button--primary"
                  {% if product.selected_or_first_available_variant.available == false
                    or quantity_rule_soldout
                    or product.selected_or_first_available_variant == null
                  %}
                    disabled
                  {% endif %}
                >
                  <span>
                    {%- if product.selected_or_first_available_variant == null -%}
                      {{ 'products.product.unavailable' | t }}
                    {%- elsif product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
                      {{ 'products.product.sold_out' | t }}
                    {%- else -%}
                      {{ 'products.product.add_to_cart' | t }}
                    {%- endif -%}
                  </span>
                  {%- render 'loading-spinner' -%}
                </button>
                {{ form | payment_button }}
              </div>
            {%- endform -%}
          </product-form>

          {%- if product.quantity_price_breaks_configured? -%}
            <volume-pricing class="parent-display" id="Volume-{{ section.id }}">
              {%- if product.selected_or_first_available_variant.quantity_price_breaks.size > 0 -%}
                <span class="caption-large">{{ 'products.product.volume_pricing.title' | t }}</span>
                <ul class="list-unstyled">
                  <li>
                    <span>{{ product.selected_or_first_available_variant.quantity_rule.min }}+</span>
                    {%- assign price = product.selected_or_first_available_variant.price | money_with_currency -%}
                    <span data-text="{{ 'products.product.volume_pricing.price_at_each' | t: price: price }}">
                      {{ 'sections.quick_order_list.each' | t: money: price }}
                    </span>
                  </li>
                  {%- for price_break in product.selected_or_first_available_variant.quantity_price_breaks -%}
                    {%- assign price_break_price = price_break.price | money_with_currency -%}
                    <li class="{%- if forloop.index >= 3 -%}show-more-item hidden{%- endif -%}">
                      <span>
                        {{- price_break.minimum_quantity -}}
                        <span aria-hidden="true">+</span>
                      </span>
                      <span data-text="{{ 'products.product.volume_pricing.price_at_each' | t: price: price_break_price }}">
                        {{ 'sections.quick_order_list.each' | t: money: price_break_price }}
                      </span>
                    </li>
                  {%- endfor -%}
                </ul>
                {%- if product.selected_or_first_available_variant.quantity_price_breaks.size >= 3 -%}
                  <show-more-button>
                    <button
                      class="button-show-more link underlined-link"
                      id="Show-More-{{ section.id }}"
                      type="button"
                    >
                      <span class="label-show-more label-text">
                        <span aria-hidden="true">+ </span>{{ 'products.facets.show_more' | t }}
                      </span>
                    </button>
                  </show-more-button>
                {%- endif -%}
              {%- endif -%}
            </volume-pricing>
          {%- endif -%}

          {%- if product.description != blank -%}
            <div class="product__description rte">
              {{ product.description }}
            </div>
          {%- endif -%}
        </section>
      </div>
    </div>
  </div>
</product-info>

<script type="application/ld+json">
  {{ product | structured_data }}
</script>

{% schema %}
{
  "name": "Product Details Old",
  "class": "product-details",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    }
  ],
  "presets": [
    {
      "name": "Product Details Old"
    }
  ]
}
{% endschema %}
