{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{% unless product.has_only_default_variant %}
  {{ 'component-product-variant-picker.css' | asset_url | stylesheet_tag }}
  {{ 'component-swatch-input.css' | asset_url | stylesheet_tag }}
  {{ 'component-swatch.css' | asset_url | stylesheet_tag }}
{% endunless %}
{%- if product.quantity_price_breaks_configured? -%}
  {{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{% style %}
    .mian-product-details{
      padding-top: 40px;
      padding-bottom: 40px;
      background-image: url( "{{ 'contact-info-bg.jpg' | asset_img_url : 'master'  }}" );
      background-repeat: no-repeat;
      background-size: cover;
  }

  .meta-fields-details{
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media( max-width: 767px){
    .mian-product-details{
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .meta-fields-details{
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  .download-resources{
      padding-top: 80px;
      padding-bottom: 80px;
      background-image: url( "{{ 'contact-info-bg.jpg' | asset_img_url : 'master'  }}" );
      background-repeat: no-repeat;
      background-size: cover;
  }

  .product__media-list-wrap{
    cursor: pointer;
  }
{% endstyle %}

<script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- if product.quantity_price_breaks_configured? -%}
  <script src="{{ 'show-more.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% comment %} Product Detail Information {% endcomment %}
<product-info
   id="MainProduct-{{ section.id }}"
  class="mian-product-details"
  data-section="{{ section.id }}"
  data-product-id="{{ product.id }}"
  data-update-url="true"
  data-url="{{ product.url }}"
  {% if section.settings.image_zoom == 'hover' %}
    data-zoom-on-hover
  {% endif %}
>
  <div class="page-width container-fluid">
    <div class="row">
      <div class="col-lg-5 mb-3">
        <!-- BreadCumb -->
        <div class="breadcrumbs-share-list {% if section.settings.show_page_title == true %} mb-4 {% endif %}">
          <nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
            <ol class="breadcrumbs__list">
              <li class="breadcrumbs__item">
                <a
                  class="breadcrumbs__link link"
                  href="/"
                  title="Home"
                  aria-current="page"
                  >Home</a
                >
              </li>
              <li class="breadcrumbs__item">
                <a
                  class="breadcrumbs__link link"
                  href="/collections/all"
                  title="Products"
                  aria-current="page"
                  >Products</a
                >
              </li>
              {% if product.collections.size > 0 %}
                {% assign first_collection = product.collections.first %}
                <li class="breadcrumbs__item">
                  <span class="breadcrumbs__link_no" aria-current="page">{{ first_collection.title }}</span>
                </li>
              {% endif %}
            </ol>
          </nav>
        </div>
        <!-- BreadCumb End -->

        <!-- Main product Info -->
        <div class="details">
          <h1 class="sh-45">
            {{ product.title -}}
            {%- if product.metafields.custom.sub_title != blank %} {{ product.metafields.custom.sub_title }} {% endif %}
          </h1>

          {% if product.selected_or_first_available_variant.sku != blank %}
            <p class="sp-16 mt-2">SKU: {{ product.selected_or_first_available_variant.sku }}</p>
          {% endif %}
        </div>
      </div>
      <div class="col-lg-7 d-flex flex-column align-item-center justify-content-center">
        <!-- varaint Logos -->
        {% if product.selected_or_first_available_variant.metafields.custom.standards_logo %}
          <div class="variant-standard-logo mb-5 ">
            <ul class="list-unstyled d-flex flex-wrap align-items-center justify-content-end gap-3 ">
              {% for logos in product.selected_or_first_available_variant.metafields.custom.standards_logo.value %}
                <li>
                  <img
                    src="{{ logos | img_url: 'master' }}"
                    width="{{ logos.width }}"
                    height="{{ logos.height }}"
                    loading="lazy"
                    alt="{{ logos.alt }}"
                    class="img-fluid"
                  >
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        <!-- Product Options -->
        {% if product.variants.size > 1 %}
          <div class="product-options">
            {% for option in product.options_with_values %}
              {% assign option_name_downcase = option.name | downcase | escape | handleize %}
              <div class="option-group d-flex gap-1 gap-md-5 align-items-center justify-content-start flex-wrap flex-md-nowrap">
                <span class="option-label">{{ option.name }}:</span>
                <div class="options {{ option_name_downcase }}-options">
                  {% for value in option.values %}
                    {% if option_name_downcase == 'color' %}
                      <label class="color-label">
                        <input
                          type="radio"
                          name="{{ option.name | handleize | downcase }}"
                          value="{{ value | handleize | downcase }}"
                          class="color-radio"
                          {% if product.selected_or_first_available_variant.options contains value %}
                            checked
                          {% endif %}
                        >
                        {% assign pcolor = value | downcase | escape | handleize %}
                        {% assign pcolor_code = pcolor %}
                        {% if pcolor == 'black' %}
                          {% assign pcolor_code = '#000000' %}
                        {% elsif pcolor == 'blue' %}
                          {% assign pcolor_code = '#0A5BA6' %}
                        {% elsif pcolor == 'green' %}
                          {% assign pcolor_code = '#34E159' %}
                        {% elsif pcolor == 'orange' %}
                          {% assign pcolor_code = '#ECBC1E' %}
                        {% elsif pcolor == 'gray' or pcolor == 'grey' %}
                          {% assign pcolor_code = '#EFEFEF' %}
                        {% endif %}
                        <span style="background-color: {{ pcolor_code }};" class="color-box"></span>
                        <span class="tick-mark">
                          <svg
                            width="12"
                            height="10"
                            viewBox="0 0 12 10"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path d="M4.58543 6.41413L1.75698 3.58573L0.342773 4.99993L4.58543 9.24263L11.6564 2.17153L10.2422 0.757324L4.58543 6.41413Z" fill="white"/>
                          </svg>
                        </span>
                      </label>
                    {% else %}
                      <button
                        type="button"
                        class="{{ option.name | handleize | downcase }}-button option-button {% if product.selected_or_first_available_variant.options contains value %}active{% endif %}"
                        data-value="{{ value | handleize | downcase }}"
                      >
                        {{ value }}
                      </button>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
          <!-- product options end -->
        {% endif %}
      </div>

       <!-- Price -->
      <div class="row">
        <div class="col-12">
          <div id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
            {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}

            <div
              id="Quantity-Form-{{ section.id }}"
              class="product-form__input product-form__quantity{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} product-form__quantity-top{% endif %}"
              {{ block.shopify_attributes }}
            >
              {% comment %} TODO: enable theme-check once `item_count_for_variant` is accepted as valid filter {% endcomment %}
              {% # theme-check-disable %}
              {%- assign cart_qty = cart | item_count_for_variant: product.selected_or_first_available_variant.id -%}
              {% # theme-check-enable %}
              <label class="quantity__label form__label" for="Quantity-{{ section.id }}">
                {{ 'products.product.quantity.label' | t }}
                <span class="quantity__rules-cart{% if cart_qty == 0 %} hidden{% endif %}">
                  {%- render 'loading-spinner' -%}
                  <span
                    >(
                    {{- 'products.product.quantity.in_cart_html' | t: quantity: cart_qty -}}
                    )</span
                  >
                </span>
              </label>
              <div class="price-per-item__container">
                <quantity-input class="quantity" data-url="{{ product.url }}" data-section="{{ section.id }}">
                  <button class="quantity__button" name="minus" type="button">
                    <span class="visually-hidden">
                      {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                    </span>
                    <span class="svg-wrapper">
                      {{- 'icon-minus.svg' | inline_asset_content -}}
                    </span>
                  </button>
                  <input
                    class="quantity__input"
                    type="number"
                    name="quantity"
                    id="Quantity-{{ section.id }}"
                    data-cart-quantity="{{ cart_qty }}"
                    data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                    min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                    step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
                    value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                    form="{{ product_form_id }}"
                  >
                  <button class="quantity__button" name="plus" type="button">
                    <span class="visually-hidden">
                      {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                    </span>
                    <span class="svg-wrapper">
                      {{- 'icon-plus.svg' | inline_asset_content -}}
                    </span>
                  </button>
                </quantity-input>
                {%- liquid
                  assign volume_pricing_array = product.selected_or_first_available_variant.quantity_price_breaks | sort: 'quantity' | reverse
                  assign current_qty_for_volume_pricing = cart_qty | plus: product.selected_or_first_available_variant.quantity_rule.min
                  if cart_qty > 0
                    assign current_qty_for_volume_pricing = cart_qty | plus: product.selected_or_first_available_variant.quantity_rule.increment
                  endif
                -%}
                {%- if product.quantity_price_breaks_configured? -%}
                  <price-per-item
                    id="Price-Per-Item-{{ section.id }}"
                    data-section-id="{{ section.id }}"
                    data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                  >
                    {%- if product.selected_or_first_available_variant.quantity_price_breaks.size > 0 -%}
                      {%- assign variant_price_compare = product.selected_or_first_available_variant.compare_at_price -%}
                      <div class="price-per-item">
                        {%- if variant_price_compare -%}
                          <dl class="price-per-item--current">
                            <dt class="visually-hidden">
                              {{ 'products.product.price.regular_price' | t }}
                            </dt>
                            <dd>
                              <s class="variant-item__old-price">
                                {{ variant_price_compare | money_with_currency }}
                              </s>
                            </dd>
                          </dl>
                        {%- endif -%}
                        {%- if current_qty_for_volume_pricing < volume_pricing_array.last.minimum_quantity -%}
                          {%- assign variant_price = product.selected_or_first_available_variant.price
                            | money_with_currency
                          -%}
                          <span class="price-per-item--current">
                            {{- 'products.product.volume_pricing.price_at_each_html' | t: price: variant_price -}}
                          </span>
                        {%- else -%}
                          {%- for price_break in volume_pricing_array -%}
                            {%- if current_qty_for_volume_pricing >= price_break.minimum_quantity -%}
                              {%- assign price_break_price = price_break.price | money_with_currency -%}
                              <span class="price-per-item--current">
                                {{-
                                  'products.product.volume_pricing.price_at_each_html'
                                  | t: price: price_break_price
                                -}}
                              </span>
                              {%- break -%}
                            {%- endif -%}
                          {%- endfor -%}
                        {%- endif -%}
                      </div>
                    {%- else -%}
                      {%- assign variant_price = product.selected_or_first_available_variant.price
                        | money_with_currency
                      -%}
                      {%- assign variant_price_compare = product.selected_or_first_available_variant.compare_at_price -%}
                      <div class="price-per-item">
                        {%- if variant_price_compare -%}
                          <dl class="price-per-item--current">
                            <dt class="visually-hidden">
                              {{ 'products.product.price.regular_price' | t }}
                            </dt>
                            <dd>
                              <s class="variant-item__old-price">
                                {{ variant_price_compare | money_with_currency }}
                              </s>
                            </dd>
                            <dt class="visually-hidden">
                              {{ 'products.product.price.sale_price' | t }}
                            </dt>
                            <dd>
                              <span class="price-per-item--current">
                                {{- 'products.product.volume_pricing.price_at_each_html' | t: price: variant_price -}}
                              </span>
                            </dd>
                          </dl>
                        {%- else -%}
                          <span class="price-per-item--current">
                            {{- 'products.product.volume_pricing.price_at_each_html' | t: price: variant_price -}}
                          </span>
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                  </price-per-item>
                {%- endif -%}
              </div>
              <div class="quantity__rules caption" id="Quantity-Rules-{{ section.id }}">
                {%- if product.selected_or_first_available_variant.quantity_rule.increment > 1 -%}
                  <span class="divider">
                    {{-
                      'products.product.quantity.multiples_of'
                      | t: quantity: product.selected_or_first_available_variant.quantity_rule.increment
                    -}}
                  </span>
                {%- endif -%}
                {%- if product.selected_or_first_available_variant.quantity_rule.min > 1 -%}
                  <span class="divider">
                    {{-
                      'products.product.quantity.minimum_of'
                      | t: quantity: product.selected_or_first_available_variant.quantity_rule.min
                    -}}
                  </span>
                {%- endif -%}
              </div>
              {%- if product.quantity_price_breaks_configured? -%}
                <volume-pricing class="parent-display" id="Volume-{{ section.id }}">
                  {%- if product.selected_or_first_available_variant.quantity_price_breaks.size > 0 -%}
                    <span class="caption-large">{{ 'products.product.volume_pricing.title' | t }}</span>
                    <ul class="list-unstyled">
                      <li>
                        <span>{{ product.selected_or_first_available_variant.quantity_rule.min }}+</span>
                        {%- assign price = product.selected_or_first_available_variant.price | money_with_currency -%}
                        <span data-text="{{ 'products.product.volume_pricing.price_at_each_html' | t: price: variant_price }}">
                          {{- 'sections.quick_order_list.each' | t: money: price -}}
                        </span>
                      </li>
                      {%- for price_break in product.selected_or_first_available_variant.quantity_price_breaks -%}
                        {%- assign price_break_price = price_break.price | money_with_currency -%}
                        <li class="{%- if forloop.index >= 3 -%}show-more-item hidden{%- endif -%}">
                          <span>
                            {{- price_break.minimum_quantity -}}
                            <span aria-hidden="true">+</span></span
                          >
                          <span data-text="{{ 'products.product.volume_pricing.price_at_each_html' | t: price: price_break_price }}">
                            {{- 'sections.quick_order_list.each' | t: money: price_break_price -}}
                          </span>
                        </li>
                      {%- endfor -%}
                    </ul>
                    {%- if product.selected_or_first_available_variant.quantity_price_breaks.size >= 3 -%}
                      <show-more-button>
                        <button
                          class="button-show-more link underlined-link"
                          id="Show-More-{{ section.id }}"
                          type="button"
                        >
                          <span class="label-show-more label-text"
                            ><span aria-hidden="true">+ </span>{{ 'products.facets.show_more' | t }}
                          </span>
                        </button>
                      </show-more-button>
                    {%- endif -%}
                  {%- endif -%}
                </volume-pricing>
              {%- endif -%}
            </div>

            {%- render 'buy-buttons',
              block: block,
              product: product,
              product_form_id: product_form_id,
              section_id: section.id,
              show_pickup_availability: true
            -%}
          </div>
        </div>
      </div>

      <!-- Price End -->
                              
      {% if product.description != blank %}
        <!-- Product description -->
        <div class="row">
          <div class="col-12">
            <div class="product-description">
              {{ product.description }}
            </div>
          </div>
        </div>
      {% endif %}
      
     
    </div>
  </div>
</product-info>

<script type="application/ld+json">
  {{ product | structured_data }}
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Function to get selected option values
    const sectionIDS = "{{ section.id }}"
    
    function getSelectedOptions() {
      const selectedOptions = {};

      {% for option in product.options_with_values %}
        (function() {
          const optionName = "{{ option.name | downcase | replace: ' ', '-' }}"; // Get option name dynamically
          const selectedOptionValue = document.querySelector(`.${optionName}-radio:checked`)?.value || 
                                      document.querySelector(`.${optionName}-button.active`)?.dataset.value || null;
          
          if (selectedOptionValue) {
            selectedOptions[optionName] = selectedOptionValue;
          }
        })(); // Immediately invoked function expression (IIFE) to limit scope
      {% endfor %}
      return selectedOptions;
    }

    // Function to find the matching variant ID
    function getVariantId(selectedOptions) {
      const allVariants = {{ product.variants | json }}; // Get all variants as JSON
      for (let variant of allVariants) { // Use let here for the variant
         const options = variant.options.map(option =>  option
          .toLowerCase()
          .trim()
          .replace(/[^a-z0-9\s-]/g, '-') // Remove special characters
          .replace(/\s+/g, '-')         // Replace spaces with hyphens
          .replace(/-+/g, '-')   
        );
        let match = true;

        {% for option in product.options_with_values %}
          (function() {
            const optionName = "{{ option.name | downcase | replace: ' ' , '-' }}";  // Use let here for optionName
            const selectedValue = selectedOptions[optionName];
            
            // If selected option exists and doesn't match variant option, set match to false
            if (selectedValue && options.includes(selectedValue)) {
              
              match = match && true;
            } else {
              
              match = false;
              return; // Exit function early if match fails
            }
          })(); // Immediately invoked function expression (IIFE) to limit scope
        {% endfor %}

        if (match) {
          return variant.id;
        }
      }

      console.warn("No matching variant found for selected options:", selectedOptions);
      return null; // Return null if no match found
    }

    // Function to update the variant URL and fetch the updated section
    function updateVariantAndFetchSection() {
      const selectedOptions = getSelectedOptions();
      
      const variantId = getVariantId(selectedOptions);
      if (variantId) {
        // Update the URL
        const newUrl = new URL(window.location.href);
        newUrl.searchParams.set("variant", variantId);
        window.history.replaceState(null, null, newUrl);

        // Send AJAX request to fetch updated section
        fetch(
          `/products/{{ product.handle }}?section_id=${sectionIDS}&variant=${variantId}`
        )
          .then((response) => response.text())
          .then((html) => {
            // Replace the section HTML dynamically
            const sectionContainer = document.querySelector(`#shopify-section-${sectionIDS}`);
            if (sectionContainer) {
              sectionContainer.innerHTML = html;
            }
          })
          .catch((error) => {
            console.error("Error updating section:", error);
          });
      } else {
        console.warn("No matching variant found for the selected options.");
      }
    }

    // Event Delegation for All Option Types
    document.body.addEventListener("change", function (event) {
      const optionType = event.target.closest('label')?.classList[0]?.split('-')[0]; // Dynamically determine option type from class
      if (optionType) {
        updateVariantAndFetchSection();
      }
    });

    document.body.addEventListener("click", function (event) {
      const className = event.target.closest('button')?.classList[0];
      let optionType = null;
      
      // Check if the className exists and contains more than 2 parts
      if (className && className.split('-').length > 2) {
        const classParts = className.split('-');
        optionType = classParts[0] + '-' + classParts[1]; // Concatenate the first and second parts
      }else{
         const classParts = className.split('-');
         optionType = classParts[0]; // Concatenate the first and second parts
      }

      //const optionType = event.target.closest('button')?.classList[0]?.split('-')[0]; // Dynamically determine option type from class
      if (optionType) {
        // For series, size, or color buttons
        if (event.target.matches(`.${optionType}-button`)) {
          document
            .querySelectorAll(`.${optionType}-button`)
            .forEach((btn) => btn.classList.remove("active"));
          event.target.classList.add("active");
          updateVariantAndFetchSection();
        }
      }
    });
  });
</script>

{% schema %}
{
  "name": "Product Details Old",
  "class": "product-details",
   "presets": [
    {
      "name": "Product Details Old",
    }
  ]
}
{% endschema %}
