{% style %}
  #shopify-section-{{ section.id }}{
    padding-top: {{ section.settings.padding_top_desktop }};
    padding-bottom: {{ section.settings.padding_bottom_desktop }};
  }


  @media( max-width: 767px){
     #shopify-section-{{ section.id }}{
      padding-top: {{ section.settings.padding_top_mobile }};
      padding-bottom: {{ section.settings.padding_bottom_mobile }};
    }
  }
{% endstyle %}

{{ 'page-breadcrumb.css' | asset_url | stylesheet_tag }}
<div class="page-width container-fluid ">
  {% if section.settings.show_breadcumb_title == true %}
    <div class="breadcrumbs-share-list {% if section.settings.show_page_title == true %} mb-4 {% endif %}">
      <nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
        <ol class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a
              class="breadcrumbs__link link"
              href="/"
              title="Home"
              aria-current="page"
              >Home</a
            >
          </li>
          {% if section.settings.show_resources == true %}
            <li class="breadcrumbs__item">
              <a
                class="breadcrumbs__link link"
                href="/"
                title="Resources"
                aria-current="page"
                >Resources</a
              >
            </li>
          {% endif %}
         {% if section.settings.show_industries == true %}
            <li class="breadcrumbs__item">
              <a
                class="breadcrumbs__link link"
                href="/"
                title="Industries"
                aria-current="page"
                >Industries</a
              >
            </li>
          {% endif %}
          <li class="breadcrumbs__item">
            <span class="breadcrumbs__link_no" aria-current="page">{{ page.title }}</span>
          </li>
        </ol>
      </nav>
    </div>
  {% endif %}
  {% if section.settings.show_page_title == true %}
    <div class="page-title">
      <h1 class="sh-60 mb-0">{{ page.title }}</h1>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Page Breadcrumb",
  "class": "page-breadcrumb",
  "settings": [
     {
      "type": "checkbox",
      "id": "show_page_title",
      "label": "Show Page Title",
    },
    {
      "type": "checkbox",
      "id": "show_breadcumb_title",
      "label": "Show breadcrumb",
    },
    {
      "type": "checkbox",
      "id": "show_resources",
      "label": "Show Resources",
    },
    {
      "type": "checkbox",
      "id": "show_industries",
      "label": "Show Industries",
    },
    {
      "type": "text",
      "id": "padding_top_desktop",
      "label": "Padding Desktop Top",
      "default": "80px"
    },
     {
      "type": "text",
      "id": "padding_bottom_desktop",
      "label": "Padding Desktop Bottom",
      "default": "80px"
    },
     {
      "type": "text",
      "id": "padding_top_mobile",
      "label": "Padding Mobile Top",
      "default": "40px"
    },
     {
      "type": "text",
      "id": "padding_bottom_mobile",
      "label": "Padding Mobile Bottom",
      "default": "40px"
    },

  ],
  "presets": [
    {
      "name": "Page Breadcrumb",
    }
  ]
}
{% endschema %}
