{% style %}
  #shopify-section-{{ section.id }}{
    padding-top: {{ section.settings.padding_top_desktop }};
    padding-bottom: {{ section.settings.padding_bottom_desktop }};
  }

  .slick-slider{
    padding: 0 10px;
  }

  .slick-list {
    z-index: -1 !important;
}
  .slick-track {
  display: flex !important;
}
.slick-slide {
  width: auto; /* Let content decide the width */
  margin-right: 15px; /* optional spacing between slides */
}

  .partners-logos.container-fluid {
    max-width: 90%;
    margin: 0 auto;
}

  .slick-prev:before, .slick-next:before {
    font-family: slick;
    font-size: 14px;
    line-height: 1;
    opacity: 1;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: 1px solid var(--primary-color);
    padding: 5px;
    border-radius: 50px;
    background: var(--primary-color);
  }

  .template-custom-logo .partners-logo{
    background: #ebf0f5;
  }

  .template-custom-logo .partners-logos-list{
    max-width: 90rem;
    margin: 0 auto;
  }

   .template-custom-logo .partners-logos h2 {
      font-family: 'Barlow';
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 48px;
      text-align: center;
      color: #222222;
     margin-bottom: 2rem;
    }

    .template-custom-logo .partners-logos-list {
      max-width: 80rem;
      margin: 0 auto;
      column-gap: 6rem !important;
      align-items: center;
      justify-content: center !important;
    }

  .template-custom-logo .faq-sections{
    background: #fff !important;
  }
  
  @media( max-width: 767px){
     #shopify-section-{{ section.id }}{
      padding-top: {{ section.settings.padding_top_mobile }};
      padding-bottom: {{ section.settings.padding_bottom_mobile }};
    }

      .template-custom-logo .partners-logos h2 {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        color: #222222;
        margin-bottom: 1rem;
      }

       .template-custom-logo .partners-logos-list {
        column-gap: 2rem !important;
      }
  }
{% endstyle %}
<div class="partners-logos container-fluid">
  <h2 class="text-center sp-48 mb-4">{{ section.settings.heading }}</h2>
  <ul class="list-unstyled d-flex flex-wrap gap-4 align-item-center justify-content-between partners-logos-list">
    {% for block in section.blocks %}
      <img
        class="img-fluid"
        src="{{ block.settings.logo | img_url : 'master' }}"
        width="{{ block.settings.logo.width }}"
        height="{{ block.settings.logo.height }}"
        loading="lazy"
      >
    {% endfor %}
  </ul>
  <!--
    <img class="img-fluid" src="{{ section.settings.image | img_url : '1920x' }}" width="1920" height="56" loading="lazy">
  -->
</div>
{% schema %}
{
  "name": "Partners Logos",
  "class": "partners-logo",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
    },
    {
      "type": "text",
      "id": "padding_top_desktop",
      "label": "Padding Desktop Top",
      "default": "80px"
    },
     {
      "type": "text",
      "id": "padding_bottom_desktop",
      "label": "Padding Desktop Bottom",
      "default": "80px"
    },
     {
      "type": "text",
      "id": "padding_top_mobile",
      "label": "Padding Mobile Top",
      "default": "40px"
    },
     {
      "type": "text",
      "id": "padding_bottom_mobile",
      "label": "Padding Mobile Bottom",
      "default": "40px"
    },
  ],
  "blocks": [
    {
      "type": "partner_logo",
      "name": "partner Logo",
      "settings": [
        {
          "type": "image_picker",
          "id" : "logo",
          "label": "Select logo"
        }
      ]

    }
  ],
  "presets": [
    {
      "name": "Partners Logos",
    }
  ]
}
{% endschema %}
