{% style %}
  #shopify-section-{{ section.id }}{
    padding-top: {{ section.settings.padding_top_desktop }};
    padding-bottom: {{ section.settings.padding_bottom_desktop }};
  }


  @media( max-width: 767px){
     #shopify-section-{{ section.id }}{
      padding-top: {{ section.settings.padding_top_mobile }};
      padding-bottom: {{ section.settings.padding_bottom_mobile }};
    }
  }
{% endstyle %}

{{ 'ppe-features.css' | asset_url | stylesheet_tag }}
<div class="page-width container-fluid">
  <div class="safety-standards-inner">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="ppe-features-tabs" role="tablist">
      {% assign ppe_features = section.settings.categories | split: '|' %}
      {% for ppe in ppe_features %}
        <li class="nav-item" role="presentation">
          <a
            class="nav-link {% if forloop.index == 1 %} active {% endif %}"
            id="{{- ppe | handleize | downcase -}}-tab"
            data-bs-toggle="tab"
            href="#{{- ppe | handleize | downcase -}}"
            role="tab"
            aria-controls="{{- ppe | handleize | downcase -}}"
            aria-selected="true"
          >
            {{- ppe | replace: '-', ' ' -}}
          </a>
        </li>
      {% endfor %}
    </ul>
    <!-- Nav tabs End -->

    <!-- Tabs Contents -->
    <div class="tab-content" id="ppe-features-tabs-content">
      {% for ppe in ppe_features %}
        <div
          class="tab-pane fade {% if forloop.index == 1 %} show active {% endif %}"
          id="{{- ppe | handleize | downcase -}}"
          role="tabpanel"
          aria-labelledby="{{- ppe | handleize | downcase -}}-tab"
        >
          {% assign my_ppe = ppe | handleize | downcase %}
          {% if my_ppe == 'hand-gloves' %}
            <div class="row {{ my_ppe }}-{{ forloop.index }}">
              {% for block in section.blocks %}
                {%- case block.type -%}
                  {%- when 'hand-gloves' -%}
                    {% render 'ppe-features-hand-gloves', block: block %}
                {% endcase %}
              {% endfor %}
            </div>
          {% elsif my_ppe == 'protective-eyewear-glasses-goggles' %}
            <div class="row">
              {% for block in section.blocks %}
                {%- case block.type -%}
                  {%- when 'protective-eyewear' -%}
                    {% render 'ppe-features-protective-eyewear', block: block %}
                {% endcase %}
              {% endfor %}
            </div>
          {% elsif my_ppe == 'hearing-protection-ear-muffs-ear-plugs' %}
            <div class="row">
              {% for block in section.blocks %}
                {%- case block.type -%}
                  {%- when 'hearing-protection' -%}
                    {% render 'ppe-features-hearing-protection', block: block %}
                {% endcase %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <!-- Tabs  End -->
  </div>
</div>

{% style %}
  .hand-gloves-features-1 ul li:first-child:before {
     content: "";
     background: url(' {{ 'cut-tear-resistant.png' | asset_img_url : 'master' }}');
     content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
   }

  .hand-gloves-features-1 ul li:nth-child(2)::before {
     content: "";
     background: url(' {{ 'heat-fire-resistant.png' | asset_img_url : 'master' }}');
     content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
   }

  .hand-gloves-features-1 ul li:nth-child(3)::before {
     content: "";
     background: url(' {{ 'anti-microbial.png' | asset_img_url : 'master' }}');
     content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
   }

  .hand-gloves-features-1 ul li:nth-child(4)::before {
     content: "";
     background: url(' {{ 'touch-screen.png' | asset_img_url : 'master' }}');
     content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
   }

   .hand-gloves-features-2 ul li:first-child:before {
     content: "";
     background: url(' {{ 'water-proof.png' | asset_img_url : 'master' }}');
     content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
   }

  .hand-gloves-features-2 ul li:nth-child(2)::before {
     content: "";
     background: url(' {{ 'dipped-gloves-flexibility.png' | asset_img_url : 'master' }}');
     content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
   }

  .hand-gloves-features-2 ul li:nth-child(3)::before {
     content: "";
     background: url(' {{ 'chemical-resistant.png' | asset_img_url : 'master' }}');
     content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
   }

  #protective-eyewear-glasses-goggles ul li:first-child::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      background-image: url(' {{ 'sui-1.png' | asset_img_url : 'master' }}');
      background-repeat: none;
  }

  #protective-eyewear-glasses-goggles ul li:nth-child(2)::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      background-image: url(' {{ 'sui-2.png' | asset_img_url : 'master' }}');
      background-repeat: none;
  }

   #protective-eyewear-glasses-goggles ul li:nth-child(3)::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      background-image: url(' {{ 'sui-3.png' | asset_img_url : 'master' }}');
      background-repeat: none;
  }

   #hearing-protection-ear-muffs-ear-plugs ul li:first-child::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      background-image: url(' {{ 'sui-4.png' | asset_img_url : 'master' }}');
      background-repeat: none;
  }

  #hearing-protection-ear-muffs-ear-plugs ul li:nth-child(2)::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      background-image: url(' {{ 'sui-5.png' | asset_img_url : 'master' }}');
      background-repeat: none;
  }

{% endstyle %}

{% schema %}
{
    "name": "PPE Features",
    "class": "ppe-features",
    "disabled_on": {
        "groups": [
            "header",
            "footer"
        ]
    },
    "settings": [
        {
            "type": "text",
            "id": "categories",
            "label": "Categories add by pipline seperated",
            "default": "Hand Gloves|Protective Eyewear Glasses & Goggles|Hearing Protection Ear Muffs & Ear Plugs"
        },
        {
            "type": "text",
            "id": "padding_top_desktop",
            "label": "Padding Desktop Top",
            "default": "80px"
        },
        {
            "type": "text",
            "id": "padding_bottom_desktop",
            "label": "Padding Desktop Bottom",
            "default": "80px"
        },
        {
            "type": "text",
            "id": "padding_top_mobile",
            "label": "Padding Mobile Top",
            "default": "40px"
        },
        {
            "type": "text",
            "id": "padding_bottom_mobile",
            "label": "Padding Mobile Bottom",
            "default": "40px"
        },

    ],
    "blocks": [
        {
            "type": "hand-gloves",
            "name": "Hand Gloves",
            "settings": [
                {
                    "type": "text",
                    "id": "Heading",
                    "label": "Sub Heading",

                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Sub Heading",

                },
                {
                    "type": "richtext",
                    "id": "description1",
                    "label": "Sub Heading",

                },

            ]
        },
       {
        "type": "protective-eyewear",
        "name": "Protective Eyewear",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",

            },
            {
                "type": "richtext",
                "id": "description",
                "label": "Sub Heading",

            },

        ]
      },
      {
        "type": "hearing-protection",
        "name": "Hearing Protection",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",

            },
            {
                "type": "richtext",
                "id": "description",
                "label": "Sub Heading",

            },

        ]
      },
    ],
    "presets": [
        {
            "name": "PPE Features",

        }
    ]
}
{% endschema %}
