{% style %}
  #shopify-section-{{ section.id }}{
    padding-top: {{ section.settings.padding_top_desktop }};
    padding-bottom: {{ section.settings.padding_bottom_desktop }};
  }


  @media( max-width: 767px){
     #shopify-section-{{ section.id }}{
      padding-top: {{ section.settings.padding_top_mobile }};
      padding-bottom: {{ section.settings.padding_bottom_mobile }};
    }
  }
{% endstyle %}
{{ 'safety-standards.css' | asset_url | stylesheet_tag }}
<div class="page-width container-fluid">
  <div class="safety-standards-inner">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="safety-standards-tabs" role="tablist">
      {% for block in section.blocks %}
        <li class="nav-item" role="presentation">
          <a
            class="nav-link {% if forloop.index == 1 %} active {% endif %}"
            id="{{- block.type -}}-tab"
            data-bs-toggle="tab"
            href="#{{- block.type -}}"
            role="tab"
            aria-controls="{{- block.type -}}"
            aria-selected="true"
          >
            {% if block.type == 'protective-eyewear' %}
              Protective Eyewear Glasses & Goggles
            {% else %}
              {{- block.type | replace: '-', ' ' -}}
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
    <!-- Nav tabs End -->

    <!-- Tabs Contents -->
    <div class="tab-content" id="safety-standards-tabs-content">
      {% for block in section.blocks %}
        <div
          class="tab-pane fade {% if forloop.index == 1 %} show active {% endif %}"
          id="{{- block.type -}}"
          role="tabpanel"
          aria-labelledby="{{- block.type -}}-tab"
        >
          {%- case block.type -%}
            {%- when 'hand-protection' -%}
              {% render 'hand-protection', block: block %}
            {%- when 'protective-clothing' -%}
              {% render 'protective-clothing', block: block %}
            {%- when 'protective-eyewear' -%}
              {% render 'protective-eyewear-glasses-goggles', block: block %}
            {%- when 'hearing-protection' -%}
              {% render 'hearing-protection', block: block %}
            {%- when 'ergonomics' -%}
              {% render 'ergonomics', block: block %}
          {% endcase %}
        </div>
      {% endfor %}
    </div>
    <!-- Tabs Contents End -->
  </div>
</div>

{% schema %}
{
  "name": "Safety Standards",
  "class": "safety-standards",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "padding_top_desktop",
      "label": "Padding Desktop Top",
      "default": "80px"
    },
     {
      "type": "text",
      "id": "padding_bottom_desktop",
      "label": "Padding Desktop Bottom",
      "default": "80px"
    },
     {
      "type": "text",
      "id": "padding_top_mobile",
      "label": "Padding Mobile Top",
      "default": "40px"
    },
     {
      "type": "text",
      "id": "padding_bottom_mobile",
      "label": "Padding Mobile Bottom",
      "default": "40px"
    },
  ],
  "blocks": [
    {
      "type": "hand-protection",
      "name": "Hand Protection",
      "settings": [
        {
         "type": "header",
         "content": "Section 1"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Sub Heading",
        },
         {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
        },
          {
          "type": "image_picker",
          "id": "image1",
          "label": "Standard Hand Production Image 1",
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Standard Hand Production Image 2",
        },
        {
         "type": "header",
         "content": "Section 2"
        },
        {
          "type": "image_picker",
          "id": "image3",
          "label": "Hand Glove Image",
        },
        {
          "type": "text",
          "id": "heading1",
          "label": "Heading",
        },
        {
          "type": "richtext",
          "id": "description1",
          "label": "Description",
        },
        {
          "type": "image_picker",
          "id": "image4",
          "label": "Image",
        },
        {
         "type": "header",
         "content": "Section 3"
        },
        {
          "type": "text",
          "id": "heading2",
          "label": "Heading",
        },
        {
          "type": "richtext",
          "id": "description2",
          "label": "Description",
        },
        {
          "type": "image_picker",
          "id": "image5",
          "label": "Image",
        },
        {
          "type": "image_picker",
          "id": "image6",
          "label": "Image",
        },
        {
          "type": "richtext",
          "id": "description3",
          "label": "Description",
        },
        {
          "type": "image_picker",
          "id": "image7",
          "label": "Image",
        },
        {
          "type": "richtext",
          "id": "description4",
          "label": "Description",
        },
         {
          "type": "image_picker",
          "id": "image8",
          "label": "Image",
        },
        {
          "type": "richtext",
          "id": "description5",
          "label": "Description",
        },
        {
         "type": "header",
         "content": "Section 4"
        },
        {
          "type": "text",
          "id": "heading3",
          "label": "Heading",
        },
         {
          "type": "image_picker",
          "id": "image9",
          "label": "Image",
        },
         {
          "type": "richtext",
          "id": "description6",
          "label": "Description",
        },
         {
          "type": "richtext",
          "id": "description7",
          "label": "Description",
        },
      ]
    },
     {
      "type": "protective-clothing",
      "name": "Protective Clothing",
      "settings": [
        {
         "type": "header",
         "content": "Section 1"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
        },
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image",
        },
         {
          "type": "text",
          "id": "heading1",
          "label": "Heading",
        },
        {
          "type": "richtext",
          "id": "description1",
          "label": "Description",
        },
         {
          "type": "richtext",
          "id": "description2",
          "label": "Description",
        },
         {
         "type": "header",
         "content": "Section 2"
        },
          {
          "type": "text",
          "id": "heading2",
          "label": "Heading",
        },
        {
          "type": "richtext",
          "id": "description3",
          "label": "Description",
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Image",
        },
         {
          "type": "richtext",
          "id": "description4",
          "label": "Description",
        },
        {
          "type": "richtext",
          "id": "description5",
          "label": "Description",
        },
        {
          "type": "text",
          "id": "heading3",
          "label": "Heading",
        },
        {
          "type": "image_picker",
          "id": "image3",
          "label": "Image",
        },
        {
          "type": "image_picker",
          "id": "image4",
          "label": "Image",
        },
         {
          "type": "richtext",
          "id": "description6",
          "label": "Description",
        },
         {
          "type": "richtext",
          "id": "description7",
          "label": "Description",
        },
      ]
    },
    {
      "type": "protective-eyewear",
      "name": "Protective Eyewear",
      "settings": [
        {
         "type": "header",
         "content": "Section 1"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Sub Heading",
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
        },
         {
          "type": "image_picker",
          "id": "image1",
          "label": "Image",
        },
         {
          "type": "text",
          "id": "heading1",
          "label": "Heading",
        },
         {
          "type": "richtext",
          "id": "description1",
          "label": "Sub Heading",
        },
         {
          "type": "image_picker",
          "id": "image2",
          "label": "Image",
        },
         {
          "type": "text",
          "id": "heading2",
          "label": "Heading",
        },
        {
          "type": "richtext",
          "id": "description2",
          "label": "Sub Heading",
        },
         {
          "type": "image_picker",
          "id": "image3",
          "label": "Image",
        },
         {
          "type": "text",
          "id": "heading3",
          "label": "Heading",
        },
         {
          "type": "richtext",
          "id": "description3",
          "label": "Sub Heading",
        },
      ]
    },
    {
      "type": "hearing-protection",
      "name": "Hearing Protection",
      "settings": [
        {
         "type": "header",
         "content": "Section 1"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Sub Heading",
        },
         {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
        },
        {
         "type": "header",
         "content": "Section 2"
        },
        {
          "type": "richtext",
          "id": "description1",
          "label": "Sub Heading",
        },
         {
          "type": "image_picker",
          "id": "image1",
          "label": "Image",
        },
         {
         "type": "header",
         "content": "Section 3"
        },
        {
          "type": "richtext",
          "id": "description2",
          "label": "Sub Heading",
        },
         {
          "type": "image_picker",
          "id": "image2",
          "label": "Image",
        },
      ]
    },
    {
      "type": "ergonomics",
      "name": "ergonomics",
      "settings": [
        {
         "type": "header",
         "content": "Section 1"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Sub Heading",
        },
         {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
        },
        {
         "type": "header",
         "content": "Section 2"
        },
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image",
        },
        {
          "type": "text",
          "id": "heading1",
          "label": "Heading",
        },
        {
          "type": "richtext",
          "id": "description1",
          "label": "Sub Heading",
        },
         {
          "type": "image_picker",
          "id": "image2",
          "label": "Image",
        },
        {
          "type": "text",
          "id": "heading2",
          "label": "Heading",
        },
        {
          "type": "richtext",
          "id": "description2",
          "label": "Sub Heading",
        },
        {
          "type": "image_picker",
          "id": "image3",
          "label": "Image",
        },
        {
          "type": "text",
          "id": "heading3",
          "label": "Heading",
        },
        {
          "type": "richtext",
          "id": "description3",
          "label": "Sub Heading",
        },
         {
          "type": "image_picker",
          "id": "image4",
          "label": "Image",
        },
         {
          "type": "text",
          "id": "heading4",
          "label": "Heading",
        },
        {
          "type": "richtext",
          "id": "description4",
          "label": "Sub Heading",
        },
        {
         "type": "header",
         "content": "Section 3"
        },
        {
          "type": "text",
          "id": "heading5",
          "label": "Heading",
        },
        {
          "type": "richtext",
          "id": "description5",
          "label": "Sub Heading",
        },
        {
          "type": "image_picker",
          "id": "image5",
          "label": "Image",
        },
        {
          "type": "text",
          "id": "heading6",
          "label": "Heading",
        },
        {
          "type": "richtext",
          "id": "description6",
          "label": "Sub Heading",
        },
        {
          "type": "image_picker",
          "id": "image6",
          "label": "Image",
        },
        {
          "type": "text",
          "id": "heading7",
          "label": "Heading",
        },
        {
          "type": "richtext",
          "id": "description7",
          "label": "Sub Heading",
        },
        {
          "type": "image_picker",
          "id": "image7",
          "label": "Image",
        },
      ]
    },

  ],
  "presets": [
    {
      "name": "Safety Standards",
    }
  ]
}
{% endschema %}
